In [1]:
import pandas as pd
import time
import os
import pandas_gbq
from google.cloud import bigquery
import basedosdados as bd
import numpy as np

In [2]:
## Primeiro tabulamos os tipos de ocupações existentes na base do CNES e agrpamos


query = "SELECT ano, tipo_ocupacao,sigla_uf,id_municipio, sum(n_profissionais) as quantidade_vinculos  FROM `basedosdados-projetos.republica.vinculo_saude_tipo_ocupacao` where publico_privado='Público' group by ano, tipo_ocupacao, sigla_uf,id_municipio"

In [3]:
df=bd.read_sql(query, billing_project_id="repositoriodedadosgpsp", from_file=False, reauth=False, use_bqstorage_api=False)

Downloading: 100%|██████████| 1377636/1377636 [01:55<00:00, 11894.90rows/s]

In [4]:
## salvando df para não precisar fazer requisição mais vezes. 
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\CNES")

In [5]:
df.to_csv('CNES_profissionais_saude_ocupacao.csv',index=False)

In [19]:
df= pd.read_csv('CNES_profissionais_saude_ocupacao.csv')
df

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos
0,2008,"Agentes, assistentes e auxiliares administrativos",AP,1600303.0,35
1,2008,Técnicos de laboratórios de saúde e bancos de ...,AP,1600303.0,177
2,2008,Enfermeiros e afins,AP,1600303.0,159
3,2008,Cirurgiões-dentistas,DF,5300108.0,126
4,2008,Médicos,DF,NaN,699
...,...,...,...,...,...
1377631,2021,Agentes fiscais metrológicos e de qualidade,TO,1705102.0,1
1377632,2021,Assistentes sociais e economistas domésticos,TO,1714880.0,2
1377633,2021,Recepcionistas,TO,1706100.0,5
1377634,2021,Trabalhadores em serviços de promoção e apoio ...,TO,1717909.0,30
1377635,2021,Médicos clínicos,TO,1714880.0,6

In [20]:
df[df['tipo_ocupacao'].str.startswith('Médicos')]['tipo_ocupacao'].unique()
df['tipo_2'] = np.where(df['tipo_ocupacao'].str.startswith('Médicos'),'Médicos',df['tipo_ocupacao'])
## Aqui eu unifico os três tipos de Médicos (clínica, cirurgia e terapeutico)

In [21]:
df

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos,tipo_2
0,2008,"Agentes, assistentes e auxiliares administrativos",AP,1600303.0,35,"Agentes, assistentes e auxiliares administrativos"
1,2008,Técnicos de laboratórios de saúde e bancos de ...,AP,1600303.0,177,Técnicos de laboratórios de saúde e bancos de ...
2,2008,Enfermeiros e afins,AP,1600303.0,159,Enfermeiros e afins
3,2008,Cirurgiões-dentistas,DF,5300108.0,126,Cirurgiões-dentistas
4,2008,Médicos,DF,NaN,699,Médicos
...,...,...,...,...,...,...
1377631,2021,Agentes fiscais metrológicos e de qualidade,TO,1705102.0,1,Agentes fiscais metrológicos e de qualidade
1377632,2021,Assistentes sociais e economistas domésticos,TO,1714880.0,2,Assistentes sociais e economistas domésticos
1377633,2021,Recepcionistas,TO,1706100.0,5,Recepcionistas
1377634,2021,Trabalhadores em serviços de promoção e apoio ...,TO,1717909.0,30,Trabalhadores em serviços de promoção e apoio ...
1377635,2021,Médicos clínicos,TO,1714880.0,6,Médicos

In [8]:
df = df[(df['tipo_2']=='Médicos') & (df['ano']>2017)]

In [9]:
## Chamando a quantidade de população.  

pop = pd.read_csv("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\IBGE\\Censo_previa_pop.csv", decimal=',', sep=';')

In [10]:
df.head(20)

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos,tipo_2
286514,2018,Médicos clínicos,CE,2304400.0,4071,Médicos
286515,2018,Médicos clínicos,CE,2303709.0,267,Médicos
286519,2018,Médicos clínicos,MG,3127008.0,22,Médicos
286527,2018,Médicos clínicos,MS,5002704.0,2794,Médicos
286542,2018,Médicos clínicos,PI,2206704.0,5,Médicos
286551,2018,Médicos clínicos,RJ,3301702.0,1352,Médicos
286573,2018,Médicos em especialidades cirúrgicas,SE,2803500.0,52,Médicos
286586,2018,Médicos clínicos,SP,3514403.0,102,Médicos
286600,2018,Médicos em especialidades cirúrgicas,RR,1400100.0,307,Médicos
286603,2018,Médicos clínicos,RR,1400308.0,14,Médicos
286609,2018,Médicos clínicos,RR,1400027.0,7,Médicos
286623,2018,Médicos clínicos,AC,1200393.0,7,Médicos
286625,2018,Médicos clínicos,AC,1200336.0,14,Médicos
286630,2018,Médicos clínicos,AC,1200500.0,31,Médicos
286669,2018,Médicos em especialidades cirúrgicas,AM,1303809.0,4,Médicos
286691,2018,Médicos clínicos,AM,1304104.0,11,Médicos
286698,2018,Médicos clínicos,AM,1300706.0,22,Médicos
286710,2018,Médicos clínicos,AM,1301506.0,14,Médicos
286713,2018,Médicos em medicina diagnóstica e terapêutica,AM,1302603.0,130,Médicos
286725,2018,Médicos clínicos,BA,2903201.0,251,Médicos

In [11]:
df['id_municipio'] = pd.to_numeric(df['id_municipio'])

In [12]:
x=df.pivot_table(index=['ano','sigla_uf'  ,'id_municipio','tipo_2'], values='quantidade_vinculos',aggfunc=np.sum)
y = pd.DataFrame(x)
df = y.reset_index()

In [13]:
df1= df.merge(pop[['UF','NOME DO MUNICÍPIO','id_municipio','POPULAÇÃO']], left_on='id_municipio',right_on='id_municipio').sort_values('quantidade_vinculos', ascending=False)

In [14]:
df1['taxa'] = df1['quantidade_vinculos']/df1['POPULAÇÃO']*1000

In [15]:
sum(df1[df1['ano']==2021]['POPULAÇÃO'])

207797413.0

In [16]:
sum(df1[df1['ano']==2021]['quantidade_vinculos'])/sum(df1[df1['ano']==2021]['POPULAÇÃO'])*1000

2.333277363756208

In [17]:
## validando alguns dados
df1[(df1['ano']==2021) & (df1['UF']=='RJ')].sort_values('taxa', ascending=False).head(30)

,ano,sigla_uf,id_municipio,tipo_2,quantidade_vinculos,UF,NOME DO MUNICÍPIO,POPULAÇÃO,taxa
14606,2021,RJ,3304110.0,Médicos,135,RJ,Porto Real,20375.0,6.625767
14666,2021,RJ,3305000.0,Médicos,231,RJ,São João da Barra,36518.0,6.325648
14594,2021,RJ,3303955.0,Médicos,136,RJ,Pinheiral,24553.0,5.539038
14634,2021,RJ,3304508.0,Médicos,50,RJ,Rio das Flores,9387.0,5.326515
14530,2021,RJ,3302601.0,Médicos,201,RJ,Mangaratiba,38953.0,5.160065
14426,2021,RJ,3300902.0,Médicos,73,RJ,Cambuci,14245.0,5.124605
14390,2021,RJ,3300233.0,Médicos,197,RJ,Armação dos Búzios,39033.0,5.047012
14738,2021,RJ,3306305.0,Médicos,1346,RJ,Volta Redonda,270543.0,4.975180
14562,2021,RJ,3303302.0,Médicos,2577,RJ,Niterói,523664.0,4.921094
14378,2021,RJ,3300159.0,Médicos,53,RJ,Aperibé,10893.0,4.865510
14506,2021,RJ,3302254.0,Médicos,148,RJ,Itatiaia,30766.0,4.810505
14522,2021,RJ,3302452.0,Médicos,26,RJ,Macuco,5446.0,4.774146
14498,2021,RJ,3302106.0,Médicos,103,RJ,Itaocara,22989.0,4.480404
14686,2021,RJ,3305307.0,Médicos,33,RJ,São Sebastião do Alto,7707.0,4.281822
14630,2021,RJ,3304409.0,Médicos,79,RJ,Rio Claro,18544.0,4.260138
14702,2021,RJ,3305604.0,Médicos,91,RJ,Silva Jardim,21509.0,4.230787
14546,2021,RJ,3302908.0,Médicos,103,RJ,Miguel Pereira,26301.0,3.916201
14430,2021,RJ,3300936.0,Médicos,52,RJ,Carapebus,13360.0,3.892216
14466,2021,RJ,3301603.0,Médicos,43,RJ,Duas Barras,11102.0,3.873176
14618,2021,RJ,3304151.0,Médicos,84,RJ,Quissamã,21749.0,3.862247
14386,2021,RJ,3300225.0,Médicos,45,RJ,Areal,11765.0,3.824904
14578,2021,RJ,3303708.0,Médicos,159,RJ,Paraíba do Sul,41786.0,3.805102
14694,2021,RJ,3305505.0,Médicos,335,RJ,Saquarema,88755.0,3.774435
14638,2021,RJ,3304524.0,Médicos,555,RJ,Rio das Ostras,149562.0,3.710836
14622,2021,RJ,3304201.0,Médicos,467,RJ,Resende,128460.0,3.635373
14706,2021,RJ,3305703.0,Médicos,66,RJ,Sumidouro,18286.0,3.609319
14518,2021,RJ,3302403.0,Médicos,938,RJ,Macaé,262692.0,3.570722
14434,2021,RJ,3300951.0,Médicos,31,RJ,Comendador Levy Gasparian,8769.0,3.535181
14482,2021,RJ,3301876.0,Médicos,97,RJ,Iguaba Grande,27651.0,3.508011
14642,2021,RJ,3304557.0,Médicos,22631,RJ,Rio de Janeiro,6625849.0,3.415562

In [18]:
df1.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'tipo_2', 'quantidade_vinculos',
       'UF', 'NOME DO MUNICÍPIO', 'POPULAÇÃO', 'taxa'],
      dtype='object')

In [81]:
## Renomear colunas

df = df1[['ano', 'sigla_uf', 'id_municipio', 'tipo_2', 'quantidade_vinculos',
        'NOME DO MUNICÍPIO', 'POPULAÇÃO', 'taxa']].rename(columns={'tipo_2':'tipo_ocupacao','UF':'sigla_uf', 'NOME DO MUNICÍPIO':'nome_municipio','POPULAÇÃO':'populacao_domiciliada' })

In [83]:
df.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'tipo_ocupacao',
       'quantidade_vinculos', 'nome_municipio', 'populacao_domiciliada',
       'taxa'],
      dtype='object')

In [79]:
## Subindo para GBQ

client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao') # verificar a categoria do dado

In [84]:
df= df[['ano', 'sigla_uf', 'nome_municipio','id_municipio','populacao_domiciliada', 'tipo_ocupacao',
       'quantidade_vinculos',  
       'taxa']]

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22274 entries, 21386 to 22273
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ano                    22274 non-null  int64
 1   sigla_uf               22274 non-null  object
 2   nome_municipio         22274 non-null  object
 3   id_municipio           22274 non-null  float64
 4   populacao_domiciliada  22274 non-null  float64
 5   tipo_ocupacao          22274 non-null  object
 6   quantidade_vinculos    22274 non-null  int64
 7   taxa                   22274 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.5+ MB

In [86]:

schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('sigla_uf','STRING',description='Sigla da Unidade da Federação.'),
 bigquery.SchemaField('nome_municipio','STRING',description='Nome do município da observação'),
 bigquery.SchemaField('id_municipio','FLOAT',description='Identificador do município pelo IBGE'),
 bigquery.SchemaField('populacao_domiciliada','FLOAT',description='População domiciliada (prévia do Censo 2022)'),
 bigquery.SchemaField('tipo_ocupacao','STRING',description='Qual a ocupação daquele vínculo'),
 bigquery.SchemaField('quantidade_vinculos','INTEGER',description='Quantidade de vinculos'),
 bigquery.SchemaField('taxa','Float',description='Taxa de médicos por 1000 habitantes')
 ]

In [87]:
table_ref = dataset_ref.table('CNES_medicos_mil_habitantes') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=908e995a-db64-4882-ad3c-bf2bdd55fb3f>