In [1]:
import pandas as pd
import time
import os
import pandas_gbq
from google.cloud import bigquery
import basedosdados as bd
import numpy as np

In [2]:

os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\CNES")

In [26]:
df= pd.read_csv('CNES_profissionais_saude_ocupacao.csv')
df

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos
0,2008,"Agentes, assistentes e auxiliares administrativos",AP,1600303.0,35
1,2008,Técnicos de laboratórios de saúde e bancos de ...,AP,1600303.0,177
2,2008,Enfermeiros e afins,AP,1600303.0,159
3,2008,Cirurgiões-dentistas,DF,5300108.0,126
4,2008,Médicos,DF,NaN,699
...,...,...,...,...,...
1377631,2021,Agentes fiscais metrológicos e de qualidade,TO,1705102.0,1
1377632,2021,Assistentes sociais e economistas domésticos,TO,1714880.0,2
1377633,2021,Recepcionistas,TO,1706100.0,5
1377634,2021,Trabalhadores em serviços de promoção e apoio ...,TO,1717909.0,30
1377635,2021,Médicos clínicos,TO,1714880.0,6

In [27]:

df['tipo_2'] = np.where(df['tipo_ocupacao'].str.contains('Assistentes sociais e economistas domésticos'),'Assistentes sociais e economistas domésticos',df['tipo_ocupacao'])

In [28]:
df = df[(df['tipo_2']=='Assistentes sociais e economistas domésticos') & (df['ano']>2017)]

In [29]:
## Chamando a quantidade de população.  

pop = pd.read_csv("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\IBGE\\Censo_previa_pop.csv", decimal=',', sep=';')

In [30]:
df['id_municipio'] = pd.to_numeric(df['id_municipio'])

In [31]:
x=df.pivot_table(index=['ano','sigla_uf'  ,'id_municipio','tipo_2'], values='quantidade_vinculos',aggfunc=np.sum)
y = pd.DataFrame(x)
df = y.reset_index()

In [32]:
df1= df.merge(pop[['UF','NOME DO MUNICÍPIO','id_municipio','POPULAÇÃO']], left_on='id_municipio',right_on='id_municipio').sort_values('quantidade_vinculos', ascending=False)

In [33]:
df1['taxa'] = df1['quantidade_vinculos']/df1['POPULAÇÃO']*1000

In [34]:
sum(df1[df1['ano']==2021]['POPULAÇÃO'])

196424154.0

In [35]:
sum(df1[df1['ano']==2021]['quantidade_vinculos'])/sum(df1[df1['ano']==2021]['POPULAÇÃO'])*1000

0.1718933202074527

In [36]:
## validando alguns dados
df1[(df1['ano']==2021) & (df1['UF']=='RJ')].sort_values('taxa', ascending=False).head(30)

,ano,sigla_uf,id_municipio,tipo_2,quantidade_vinculos,UF,NOME DO MUNICÍPIO,POPULAÇÃO,taxa
9716,2021,RJ,3300936.0,Assistentes sociais e economistas domésticos,13,RJ,Carapebus,13360.0,0.973054
9968,2021,RJ,3305307.0,Assistentes sociais e economistas domésticos,5,RJ,São Sebastião do Alto,7707.0,0.648761
9896,2021,RJ,3304128.0,Assistentes sociais e economistas domésticos,7,RJ,Quatis,12646.0,0.553535
9700,2021,RJ,3300605.0,Assistentes sociais e economistas domésticos,16,RJ,Bom Jesus do Itabapoana,35797.0,0.446965
9804,2021,RJ,3302403.0,Assistentes sociais e economistas domésticos,115,RJ,Macaé,262692.0,0.437775
9924,2021,RJ,3304524.0,Assistentes sociais e economistas domésticos,65,RJ,Rio das Ostras,149562.0,0.434602
9908,2021,RJ,3304201.0,Assistentes sociais e economistas domésticos,55,RJ,Resende,128460.0,0.428149
9768,2021,RJ,3301876.0,Assistentes sociais e economistas domésticos,11,RJ,Iguaba Grande,27651.0,0.397816
9848,2021,RJ,3303302.0,Assistentes sociais e economistas domésticos,204,RJ,Niterói,523664.0,0.389563
9744,2021,RJ,3301405.0,Assistentes sociais e economistas domésticos,8,RJ,Conceição de Macabu,20814.0,0.384357
9984,2021,RJ,3305604.0,Assistentes sociais e economistas domésticos,8,RJ,Silva Jardim,21509.0,0.371937
9724,2021,RJ,3301009.0,Assistentes sociais e economistas domésticos,175,RJ,Campos dos Goytacazes,474667.0,0.368680
9808,2021,RJ,3302452.0,Assistentes sociais e economistas domésticos,2,RJ,Macuco,5446.0,0.367242
9880,2021,RJ,3303955.0,Assistentes sociais e economistas domésticos,9,RJ,Pinheiral,24553.0,0.366554
9948,2021,RJ,3305000.0,Assistentes sociais e economistas domésticos,13,RJ,São João da Barra,36518.0,0.355989
9740,2021,RJ,3301306.0,Assistentes sociais e economistas domésticos,16,RJ,Casimiro de Abreu,45570.0,0.351108
9784,2021,RJ,3302106.0,Assistentes sociais e economistas domésticos,8,RJ,Itaocara,22989.0,0.347993
9892,2021,RJ,3304110.0,Assistentes sociais e economistas domésticos,7,RJ,Porto Real,20375.0,0.343558
9720,2021,RJ,3300951.0,Assistentes sociais e economistas domésticos,3,RJ,Comendador Levy Gasparian,8769.0,0.342114
9836,2021,RJ,3303005.0,Assistentes sociais e economistas domésticos,9,RJ,Miracema,26644.0,0.337787
9708,2021,RJ,3300803.0,Assistentes sociais e economistas domésticos,18,RJ,Cachoeiras de Macacu,53887.0,0.334032
10004,2021,RJ,3306008.0,Assistentes sociais e economistas domésticos,24,RJ,Três Rios,76789.0,0.312545
9764,2021,RJ,3301850.0,Assistentes sociais e economistas domésticos,15,RJ,Guapimirim,50409.0,0.297566
9976,2021,RJ,3305505.0,Assistentes sociais e economistas domésticos,26,RJ,Saquarema,88755.0,0.292941
9792,2021,RJ,3302254.0,Assistentes sociais e economistas domésticos,9,RJ,Itatiaia,30766.0,0.292531
9704,2021,RJ,3300704.0,Assistentes sociais e economistas domésticos,61,RJ,Cabo Frio,214057.0,0.284971
9956,2021,RJ,3305133.0,Assistentes sociais e economistas domésticos,2,RJ,São José de Ubá,7070.0,0.282885
9712,2021,RJ,3300902.0,Assistentes sociais e economistas domésticos,4,RJ,Cambuci,14245.0,0.280800
9904,2021,RJ,3304151.0,Assistentes sociais e economistas domésticos,6,RJ,Quissamã,21749.0,0.275875
9668,2021,RJ,3300159.0,Assistentes sociais e economistas domésticos,3,RJ,Aperibé,10893.0,0.275406

In [37]:
df1.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'tipo_2', 'quantidade_vinculos',
       'UF', 'NOME DO MUNICÍPIO', 'POPULAÇÃO', 'taxa'],
      dtype='object')

In [38]:
## Renomear colunas

df = df1[['ano', 'sigla_uf', 'id_municipio', 'tipo_2', 'quantidade_vinculos',
        'NOME DO MUNICÍPIO', 'POPULAÇÃO', 'taxa']].rename(columns={'tipo_2':'tipo_ocupacao','UF':'sigla_uf', 'NOME DO MUNICÍPIO':'nome_municipio','POPULAÇÃO':'populacao_domiciliada' })

In [39]:
df.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'tipo_ocupacao',
       'quantidade_vinculos', 'nome_municipio', 'populacao_domiciliada',
       'taxa'],
      dtype='object')

In [40]:
df= df[['ano', 'sigla_uf', 'nome_municipio','id_municipio','populacao_domiciliada', 'tipo_ocupacao',
       'quantidade_vinculos',  
       'taxa']]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15944 entries, 14477 to 15943
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ano                    15944 non-null  int64
 1   sigla_uf               15944 non-null  object
 2   nome_municipio         15944 non-null  object
 3   id_municipio           15944 non-null  float64
 4   populacao_domiciliada  15944 non-null  float64
 5   tipo_ocupacao          15944 non-null  object
 6   quantidade_vinculos    15944 non-null  int64
 7   taxa                   15944 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.1+ MB

In [42]:
df

,ano,sigla_uf,nome_municipio,id_municipio,populacao_domiciliada,tipo_ocupacao,quantidade_vinculos,taxa
14477,2018,SP,São Paulo,3550308.0,12200180.0,Assistentes sociais e economistas domésticos,1974,0.161801
14480,2021,SP,São Paulo,3550308.0,12200180.0,Assistentes sociais e economistas domésticos,1953,0.160080
14478,2019,SP,São Paulo,3550308.0,12200180.0,Assistentes sociais e economistas domésticos,1875,0.153686
14479,2020,SP,São Paulo,3550308.0,12200180.0,Assistentes sociais e economistas domésticos,1841,0.150899
9928,2021,RJ,Rio de Janeiro,3304557.0,6625849.0,Assistentes sociais e economistas domésticos,1257,0.189712
...,...,...,...,...,...,...,...,...
8427,2020,PI,Caldeirão Grande do Piauí,2202091.0,5503.0,Assistentes sociais e economistas domésticos,1,0.181719
8426,2019,PI,Caldeirão Grande do Piauí,2202091.0,5503.0,Assistentes sociais e economistas domésticos,1,0.181719
8425,2018,PI,Caldeirão Grande do Piauí,2202091.0,5503.0,Assistentes sociais e economistas domésticos,1,0.181719
8424,2020,PI,Cajazeiras do Piauí,2202075.0,3113.0,Assistentes sociais e economistas domésticos,1,0.321234
15943,2021,TO,Lagoa do Tocantins,1711951.0,3501.0,Assistentes sociais e economistas domésticos,1,0.285633

Subindo para o GBQ

In [23]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

In [43]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('sigla_uf','STRING',description='Sigla da Unidade da Federação.'),
 bigquery.SchemaField('nome_municipio','STRING',description='Nome do município da observação'),
 bigquery.SchemaField('id_municipio','FLOAT',description='Identificador do município pelo IBGE'),
 bigquery.SchemaField('populacao_domiciliada','FLOAT',description='População domiciliada (prévia do Censo 2022)'),
 bigquery.SchemaField('tipo_ocupacao','STRING',description='Qual a ocupação daquele vínculo'),
 bigquery.SchemaField('quantidade_vinculos','INTEGER',description='Quantidade de vinculos'),
 bigquery.SchemaField('taxa','Float',description='Taxa de Assistentes sociais e economistas domésticos por 1000 habitantes')
 ]

In [44]:
table_ref = dataset_ref.table('CNES_assistentes_sociais_mil_habitantes') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=d6d1b180-311a-4a52-a35a-c0c37b2d162e>