In [1]:
import pandas as pd
import time
import os
import pandas_gbq
from google.cloud import bigquery
import basedosdados as bd
import numpy as np

In [7]:
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\keys")
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="repositoriodedadosgpsp-cbdb0b0da9b4.json"
client = bigquery.Client()

In [10]:
## Primeiro tabulamos os tipos de ocupações existentes na base do CNES e agrpamos


query = "SELECT ano, tipo_ocupacao,sigla_uf,id_municipio, sum(n_profissionais) as quantidade_vinculos  FROM `basedosdados-projetos.republica.vinculo_saude_tipo_ocupacao` where publico_privado='Público' group by ano, tipo_ocupacao, sigla_uf,id_municipio"

In [11]:
df=bd.read_sql(query, billing_project_id="repositoriodedadosgpsp", from_file=False, reauth=False, use_bqstorage_api=False)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&state=Hm2hPjVTecSNlQhL3EO3ZX5IXd5ABt&access_type=offline
Downloading: 100%|██████████|

In [3]:
## salvando df para não precisar fazer requisição mais vezes. 
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\CNES")

In [15]:
df= pd.read_csv('CNES_profissionais_saude_ocupacao.csv')
df

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos
0,2008,"Agentes, assistentes e auxiliares administrativos",AP,1600303.0,35
1,2008,Técnicos de laboratórios de saúde e bancos de ...,AP,1600303.0,177
2,2008,Enfermeiros e afins,AP,1600303.0,159
3,2008,Cirurgiões-dentistas,DF,5300108.0,126
4,2008,Médicos,DF,NaN,699
...,...,...,...,...,...
1377631,2021,Agentes fiscais metrológicos e de qualidade,TO,1705102.0,1
1377632,2021,Assistentes sociais e economistas domésticos,TO,1714880.0,2
1377633,2021,Recepcionistas,TO,1706100.0,5
1377634,2021,Trabalhadores em serviços de promoção e apoio ...,TO,1717909.0,30
1377635,2021,Médicos clínicos,TO,1714880.0,6

In [16]:
df['tipo_2'] = np.where(df['tipo_ocupacao'].str.startswith('Enfermeiros e afins'),'Enfermeiros e afins',df['tipo_ocupacao'])

In [17]:
df

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos,tipo_2
0,2008,"Agentes, assistentes e auxiliares administrativos",AP,1600303.0,35,"Agentes, assistentes e auxiliares administrativos"
1,2008,Técnicos de laboratórios de saúde e bancos de ...,AP,1600303.0,177,Técnicos de laboratórios de saúde e bancos de ...
2,2008,Enfermeiros e afins,AP,1600303.0,159,Enfermeiros e afins
3,2008,Cirurgiões-dentistas,DF,5300108.0,126,Cirurgiões-dentistas
4,2008,Médicos,DF,NaN,699,Médicos
...,...,...,...,...,...,...
1377631,2021,Agentes fiscais metrológicos e de qualidade,TO,1705102.0,1,Agentes fiscais metrológicos e de qualidade
1377632,2021,Assistentes sociais e economistas domésticos,TO,1714880.0,2,Assistentes sociais e economistas domésticos
1377633,2021,Recepcionistas,TO,1706100.0,5,Recepcionistas
1377634,2021,Trabalhadores em serviços de promoção e apoio ...,TO,1717909.0,30,Trabalhadores em serviços de promoção e apoio ...
1377635,2021,Médicos clínicos,TO,1714880.0,6,Médicos clínicos

In [18]:
df = df[(df['tipo_2']=='Enfermeiros e afins') & (df['ano']>2017)]

In [20]:
df

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos,tipo_2
286510,2018,Enfermeiros e afins,BA,2927408.0,4202,Enfermeiros e afins
286516,2018,Enfermeiros e afins,CE,2304400.0,2689,Enfermeiros e afins
286536,2018,Enfermeiros e afins,PE,2607208.0,109,Enfermeiros e afins
286589,2018,Enfermeiros e afins,SP,3536505.0,184,Enfermeiros e afins
286596,2018,Enfermeiros e afins,RR,1400605.0,9,Enfermeiros e afins
...,...,...,...,...,...,...
1377559,2021,Enfermeiros e afins,TO,1710706.0,4,Enfermeiros e afins
1377563,2021,Enfermeiros e afins,TO,1706506.0,7,Enfermeiros e afins
1377570,2021,Enfermeiros e afins,TO,1709807.0,2,Enfermeiros e afins
1377587,2021,Enfermeiros e afins,TO,1718899.0,2,Enfermeiros e afins
1377609,2021,Enfermeiros e afins,TO,1718550.0,2,Enfermeiros e afins

In [21]:
## Chamando a quantidade de população.  

pop = pd.read_csv("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\IBGE\\Censo_previa_pop.csv", decimal=',', sep=';')

In [22]:
df.head(20)

,ano,tipo_ocupacao,sigla_uf,id_municipio,quantidade_vinculos,tipo_2
286510,2018,Enfermeiros e afins,BA,2927408.0,4202,Enfermeiros e afins
286516,2018,Enfermeiros e afins,CE,2304400.0,2689,Enfermeiros e afins
286536,2018,Enfermeiros e afins,PE,2607208.0,109,Enfermeiros e afins
286589,2018,Enfermeiros e afins,SP,3536505.0,184,Enfermeiros e afins
286596,2018,Enfermeiros e afins,RR,1400605.0,9,Enfermeiros e afins
286601,2018,Enfermeiros e afins,RR,1400027.0,20,Enfermeiros e afins
286611,2018,Enfermeiros e afins,RR,1400050.0,44,Enfermeiros e afins
286614,2018,Enfermeiros e afins,RR,1400159.0,14,Enfermeiros e afins
286622,2018,Enfermeiros e afins,AC,1200351.0,13,Enfermeiros e afins
286631,2018,Enfermeiros e afins,AC,1200500.0,34,Enfermeiros e afins
286633,2018,Enfermeiros e afins,AL,2700102.0,19,Enfermeiros e afins
286636,2018,Enfermeiros e afins,AL,2704302.0,968,Enfermeiros e afins
286658,2018,Enfermeiros e afins,AM,1303700.0,22,Enfermeiros e afins
286664,2018,Enfermeiros e afins,AM,1300029.0,12,Enfermeiros e afins
286674,2018,Enfermeiros e afins,AM,1300300.0,30,Enfermeiros e afins
286678,2018,Enfermeiros e afins,AM,1302801.0,11,Enfermeiros e afins
286683,2018,Enfermeiros e afins,AM,1303908.0,33,Enfermeiros e afins
286703,2018,Enfermeiros e afins,AM,1300706.0,27,Enfermeiros e afins
286723,2018,Enfermeiros e afins,BA,2913606.0,221,Enfermeiros e afins
286744,2018,Enfermeiros e afins,CE,2311264.0,24,Enfermeiros e afins

In [23]:
df['id_municipio'] = pd.to_numeric(df['id_municipio'])

In [24]:
x=df.pivot_table(index=['ano','sigla_uf','id_municipio','tipo_2'], values='quantidade_vinculos',aggfunc=np.sum)
y = pd.DataFrame(x)
df = y.reset_index()

In [25]:
df1= df.merge(pop[['UF','NOME DO MUNICÍPIO','id_municipio','POPULAÇÃO']], left_on='id_municipio',right_on='id_municipio').sort_values('quantidade_vinculos', ascending=False)

In [26]:
df1['taxa'] = df1['quantidade_vinculos']/df1['POPULAÇÃO']*1000

In [27]:
sum(df1[df1['ano']==2021]['POPULAÇÃO'])

207802681.0

In [28]:
sum(df1[df1['ano']==2021]['quantidade_vinculos'])/sum(df1[df1['ano']==2021]['POPULAÇÃO'])*1000

1.2651232348633654

In [29]:
## validando alguns dados
df1[(df1['ano']==2021) & (df1['UF']=='RJ')].sort_values('taxa', ascending=False).head(30)

,ano,sigla_uf,id_municipio,tipo_2,quantidade_vinculos,UF,NOME DO MUNICÍPIO,POPULAÇÃO,taxa
14523,2021,RJ,3302452.0,Enfermeiros e afins,19,RJ,Macuco,5446.0,3.488799
14619,2021,RJ,3304151.0,Enfermeiros e afins,69,RJ,Quissamã,21749.0,3.172560
14563,2021,RJ,3303302.0,Enfermeiros e afins,1293,RJ,Niterói,523664.0,2.469141
14431,2021,RJ,3300936.0,Enfermeiros e afins,31,RJ,Carapebus,13360.0,2.320359
14667,2021,RJ,3305000.0,Enfermeiros e afins,83,RJ,São João da Barra,36518.0,2.272852
14703,2021,RJ,3305604.0,Enfermeiros e afins,48,RJ,Silva Jardim,21509.0,2.231624
14535,2021,RJ,3302700.0,Enfermeiros e afins,480,RJ,Maricá,223938.0,2.143450
14479,2021,RJ,3301850.0,Enfermeiros e afins,108,RJ,Guapimirim,50409.0,2.142475
14483,2021,RJ,3301876.0,Enfermeiros e afins,59,RJ,Iguaba Grande,27651.0,2.133738
14427,2021,RJ,3300902.0,Enfermeiros e afins,30,RJ,Cambuci,14245.0,2.106002
14643,2021,RJ,3304557.0,Enfermeiros e afins,13936,RJ,Rio de Janeiro,6625849.0,2.103278
14375,2021,RJ,3300100.0,Enfermeiros e afins,378,RJ,Angra dos Reis,181228.0,2.085770
14575,2021,RJ,3303609.0,Enfermeiros e afins,84,RJ,Paracambi,41146.0,2.041511
14631,2021,RJ,3304409.0,Enfermeiros e afins,37,RJ,Rio Claro,18544.0,1.995255
14739,2021,RJ,3306305.0,Enfermeiros e afins,527,RJ,Volta Redonda,270543.0,1.947934
14435,2021,RJ,3300951.0,Enfermeiros e afins,17,RJ,Comendador Levy Gasparian,8769.0,1.938648
14379,2021,RJ,3300159.0,Enfermeiros e afins,21,RJ,Aperibé,10893.0,1.927844
14547,2021,RJ,3302908.0,Enfermeiros e afins,50,RJ,Miguel Pereira,26301.0,1.901068
14387,2021,RJ,3300225.0,Enfermeiros e afins,22,RJ,Areal,11765.0,1.869953
14455,2021,RJ,3301306.0,Enfermeiros e afins,84,RJ,Casimiro de Abreu,45570.0,1.843318
14675,2021,RJ,3305133.0,Enfermeiros e afins,13,RJ,São José de Ubá,7070.0,1.838755
14639,2021,RJ,3304524.0,Enfermeiros e afins,275,RJ,Rio das Ostras,149562.0,1.838702
14607,2021,RJ,3304110.0,Enfermeiros e afins,37,RJ,Porto Real,20375.0,1.815951
14735,2021,RJ,3306206.0,Enfermeiros e afins,69,RJ,Vassouras,38081.0,1.811927
14531,2021,RJ,3302601.0,Enfermeiros e afins,70,RJ,Mangaratiba,38953.0,1.797037
14447,2021,RJ,3301157.0,Enfermeiros e afins,22,RJ,Cardoso Moreira,12686.0,1.734195
14391,2021,RJ,3300233.0,Enfermeiros e afins,67,RJ,Armação dos Búzios,39033.0,1.716496
14495,2021,RJ,3302056.0,Enfermeiros e afins,23,RJ,Italva,13729.0,1.675286
14695,2021,RJ,3305505.0,Enfermeiros e afins,148,RJ,Saquarema,88755.0,1.667512
14603,2021,RJ,3304102.0,Enfermeiros e afins,28,RJ,Porciúncula,16958.0,1.651138

In [30]:
df1.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'tipo_2', 'quantidade_vinculos',
       'UF', 'NOME DO MUNICÍPIO', 'POPULAÇÃO', 'taxa'],
      dtype='object')

In [31]:
## Renomear colunas

df = df1[['ano', 'sigla_uf', 'id_municipio', 'tipo_2', 'quantidade_vinculos',
        'NOME DO MUNICÍPIO', 'POPULAÇÃO', 'taxa']].rename(columns={'tipo_2':'tipo_ocupacao','UF':'sigla_uf', 'NOME DO MUNICÍPIO':'nome_municipio','POPULAÇÃO':'populacao_domiciliada' })

In [32]:
df

,ano,sigla_uf,id_municipio,tipo_ocupacao,quantidade_vinculos,nome_municipio,populacao_domiciliada,taxa
21392,2021,SP,3550308.0,Enfermeiros e afins,14210,São Paulo,12200180.0,1.164737
14643,2021,RJ,3304557.0,Enfermeiros e afins,13936,Rio de Janeiro,6625849.0,2.103278
21389,2018,SP,3550308.0,Enfermeiros e afins,12618,São Paulo,12200180.0,1.034247
14641,2019,RJ,3304557.0,Enfermeiros e afins,12394,Rio de Janeiro,6625849.0,1.870553
21391,2020,SP,3550308.0,Enfermeiros e afins,12126,São Paulo,12200180.0,0.993920
...,...,...,...,...,...,...,...,...
8462,2020,MG,3165560.0,Enfermeiros e afins,1,Sem-Peixe,2382.0,0.419815
12204,2018,PI,2203859.0,Enfermeiros e afins,1,Floresta do Piauí,2334.0,0.428449
13474,2020,PR,4112603.0,Enfermeiros e afins,1,Jardim Olinda,1280.0,0.781250
13475,2021,PR,4112603.0,Enfermeiros e afins,1,Jardim Olinda,1280.0,0.781250
17402,2018,RS,4320602.0,Enfermeiros e afins,1,Severiano de Almeida,3827.0,0.261301

In [34]:
df= df[['ano', 'sigla_uf', 'nome_municipio','id_municipio','populacao_domiciliada', 'tipo_ocupacao',
       'quantidade_vinculos',  
       'taxa']]

In [35]:
df

,ano,sigla_uf,nome_municipio,id_municipio,populacao_domiciliada,tipo_ocupacao,quantidade_vinculos,taxa
21392,2021,SP,São Paulo,3550308.0,12200180.0,Enfermeiros e afins,14210,1.164737
14643,2021,RJ,Rio de Janeiro,3304557.0,6625849.0,Enfermeiros e afins,13936,2.103278
21389,2018,SP,São Paulo,3550308.0,12200180.0,Enfermeiros e afins,12618,1.034247
14641,2019,RJ,Rio de Janeiro,3304557.0,6625849.0,Enfermeiros e afins,12394,1.870553
21391,2020,SP,São Paulo,3550308.0,12200180.0,Enfermeiros e afins,12126,0.993920
...,...,...,...,...,...,...,...,...
8462,2020,MG,Sem-Peixe,3165560.0,2382.0,Enfermeiros e afins,1,0.419815
12204,2018,PI,Floresta do Piauí,2203859.0,2334.0,Enfermeiros e afins,1,0.428449
13474,2020,PR,Jardim Olinda,4112603.0,1280.0,Enfermeiros e afins,1,0.781250
13475,2021,PR,Jardim Olinda,4112603.0,1280.0,Enfermeiros e afins,1,0.781250
17402,2018,RS,Severiano de Almeida,4320602.0,3827.0,Enfermeiros e afins,1,0.261301

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22277 entries, 21392 to 17402
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ano                    22277 non-null  int64
 1   sigla_uf               22277 non-null  object
 2   nome_municipio         22277 non-null  object
 3   id_municipio           22277 non-null  float64
 4   populacao_domiciliada  22277 non-null  float64
 5   tipo_ocupacao          22277 non-null  object
 6   quantidade_vinculos    22277 non-null  int64
 7   taxa                   22277 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.5+ MB

Subindo para o GBQ

In [39]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

In [41]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('sigla_uf','STRING',description='Sigla da Unidade da Federação.'),
 bigquery.SchemaField('nome_municipio','STRING',description='Nome do município da observação'),
 bigquery.SchemaField('id_municipio','FLOAT',description='Identificador do município pelo IBGE'),
 bigquery.SchemaField('populacao_domiciliada','FLOAT',description='População domiciliada (prévia do Censo 2022)'),
 bigquery.SchemaField('tipo_ocupacao','STRING',description='Qual a ocupação daquele vínculo'),
 bigquery.SchemaField('quantidade_vinculos','INTEGER',description='Quantidade de vinculos'),
 bigquery.SchemaField('taxa','Float',description='Taxa de enfermeiros por 1000 habitantes')
 ]

In [42]:
table_ref = dataset_ref.table('CNES_enfermeiros_mil_habitantes') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=b4c09fb4-fa53-41f1-98aa-19ef62d7444f>