In [2]:
import pandas as pd
import time
import numpy as np
import os
import pandas_gbq
from google.cloud import bigquery
import basedosdados as bd

In [61]:
query = 'SELECT ano, sexo as genero,raca_cor as cor_raca,escolaridade AS grau_instrucao, faixa_etaria,  sigla_uf, count(distinct(id_docente)) as quantidade_pessoas FROM `repositoriodedadosgpsp.Datalake.INEP_docentes`where rede!="privada" group by ano, genero,cor_raca, grau_instrucao, faixa_etaria,  sigla_uf order by ano'

In [22]:
client = bigquery.Client()

In [62]:
df = pandas_gbq.read_gbq(query, project_id='repositoriodedadosgpsp')

Downloading: 100%|██████████| 103246/103246 [00:08<00:00, 12693.48rows/s]

In [5]:
df.pivot_table(index={'ano'},values='quantidade_pessoas', aggfunc=np.sum)

      quantidade_pessoas
ano
2009             1862899
2010             2030029
2011             2075412
2012             2135983
2013             2190310
2014             2235855
2015             2240464
2016             2249547
2017             2250992
2018             2283285
2019             2266312
2020             2235935

In [60]:
df.pivot_table(index={'ano'},values='quantidade_pessoas', aggfunc=np.sum)

      quantidade_pessoas
ano
2009             1862899
2010             2030029
2011             2075412
2012             2135983
2013             2190310
2014             2235855
2015             2240464
2016             2249547
2017             2250992
2018             2283285
2019             2266312
2020             2235935

In [64]:
# Creating dictionary for replace 
dict_esco = {'Pós-Graduação - Mestrado':'Até Pós Graduação ou Mestrado', 'Ensino Médio - Normal/Magistério':'Até Ensino Médio',
       'Ensino Médio':'Até Ensino Médio',
       'Ensino Médio - Normal/Magistério Específico Indígena':'Até Ensino Médio',
       'Fundamental Incompleto':'Até Ensino Fundamental', 'Fundamental Completo':'Até Ensino Fundamental',
       'Ensino Superior Completo':'Até Ensino Superior Completo', 'Pós-Graduação - Doutorado':'Até Doutorado',
       'Pós-Graduação - Especialização':'Até Pós Graduação ou Mestrado',
       'Ensino Superior (Concluído ou em Andamento)':'Até Ensino Superior Completo',
       'Ensino Médio Completo':'Até Ensino Médio'}

In [65]:
df = df.replace({'grau_instrucao':dict_esco})

In [66]:
dict_idade = {'25 a 29 anos':'Entre 18-29', '18 a 24 anos':'Entre 18-29', '40 a 49 anos':'Entre 30-49', '30 a 39 anos':'Entre 30-49',
       '50 a 64 anos':'Entre 50-64', '65 anos ou mais':'Acima de 65', '15 a 17 anos':'Entre 18-29', '10 a 14 anos':'Entre 18-29'}

In [67]:
df = df.replace({'faixa_etaria':dict_idade})

In [38]:
## Subindo para o GBQ

In [68]:
df.pivot_table(index={'ano'},values='quantidade_pessoas', aggfunc=np.sum)

      quantidade_pessoas
ano
2009             1533224
2010             1663407
2011             1686326
2012             1726038
2013             1766301
2014             1792557
2015             1789709
2016             1794681
2017             1793158
2018             1804378
2019             1780384
2020             1755565

In [69]:


schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 #bigquery.SchemaField('tipo_contratacao','STRING',description='Qual o tipo de contratação'),
 bigquery.SchemaField('genero','STRING',description='Gênero autodeclarado ou não'),
 bigquery.SchemaField('cor_raca','STRING',description='Raça/cor da pessoa observada '),
 bigquery.SchemaField('grau_instrucao','STRING',description='Escolaridade da pessoa ou do vínculo observado'),
 bigquery.SchemaField('faixa_etaria','STRING',description=''),
 #bigquery.SchemaField('rede','STRING',description='Em qual rede essa pessoa atua'),
 bigquery.SchemaField('sigla_uf','STRING',description='Sigla da Unidade da Federação.'),
 bigquery.SchemaField('quantidade_pessoas','INTEGER',description='Quantidade de pessoas')
 ]

In [70]:
dataset_ref = client.dataset('perfil_remuneracao')
table_ref = dataset_ref.table('INEP_professores_ensino_basico')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=11f42429-7b65-4b62-914e-ec1f19b9017e>