In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [6]:
df = pd.read_csv('SIAPE_funcoes_das_raca.csv')
df

      ano           raca tipo_DAS  total_vinculos
0    1999         Branca    DAS-1          3687.0
1    1999  Não informado    DAS-1          1103.0
2    1999          Negra    DAS-1          1426.0
3    1999         Outros    DAS-1           256.0
4    2000         Branca    DAS-1          3653.0
..    ...            ...      ...             ...
523  2019         Outros    DAS-6             6.0
524  2020         Branca    DAS-6           193.0
525  2020  Não informado    DAS-6             7.0
526  2020          Negra    DAS-6            35.0
527  2020         Outros    DAS-6             5.0

[528 rows x 4 columns]

In [4]:
df['raca'].unique()

array(['Branca', 'Não informado', 'Negra', 'Outros'], dtype=object)

In [13]:
df = df.rename(columns={'tipo_DAS':'tipo_das', 'raca': 'cor_raca','total_vinculos':'quantidade_vinculos'})
df

      ano       cor_raca tipo_das  quantidade_vinculos
0    1999         Branca    DAS-1               3687.0
1    1999  Não informado    DAS-1               1103.0
2    1999          Negra    DAS-1               1426.0
3    1999         Outros    DAS-1                256.0
4    2000         Branca    DAS-1               3653.0
..    ...            ...      ...                  ...
523  2019         Outros    DAS-6                  6.0
524  2020         Branca    DAS-6                193.0
525  2020  Não informado    DAS-6                  7.0
526  2020          Negra    DAS-6                 35.0
527  2020         Outros    DAS-6                  5.0

[528 rows x 4 columns]

In [11]:
df['quantidade_vinculos'].dtypes

dtype('float64')

In [14]:
df['quantidade_vinculos'] = df['quantidade_vinculos'].values.astype(np.int64)

In [15]:
df

      ano       cor_raca tipo_das  quantidade_vinculos
0    1999         Branca    DAS-1                 3687
1    1999  Não informado    DAS-1                 1103
2    1999          Negra    DAS-1                 1426
3    1999         Outros    DAS-1                  256
4    2000         Branca    DAS-1                 3653
..    ...            ...      ...                  ...
523  2019         Outros    DAS-6                    6
524  2020         Branca    DAS-6                  193
525  2020  Não informado    DAS-6                    7
526  2020          Negra    DAS-6                   35
527  2020         Outros    DAS-6                    5

[528 rows x 4 columns]

Subindo para o GBQ

In [16]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [17]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referência da observação'),
        bigquery.SchemaField('cor_raca','STRING',description='Raça/cor da pessoa observada '),
        bigquery.SchemaField('tipo_das','STRING',description='Nível de cargo de Direção e Assessoramento Superior (DAS)'),
        bigquery.SchemaField('quantidade_vinculos','INTEGER',description='Número total de vinculos observados ')]

In [18]:
table_ref = dataset_ref.table('SIAPE_funcoes_das_raca')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=c4fbd374-4fc4-4a57-852d-57386459e223>