In [2]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import pandas_gbq
import glob

Pegando a tabela do BigQuery

In [3]:
query1 = "select * from `repositoriodedadosgpsp.perfil_remuneracao.SIAPE_ativos_infraestrutura`"

In [4]:
query2 = "select * from `repositoriodedadosgpsp.perfil_remuneracao.SIAPE_ativos_regulatoria`"

In [5]:
query3 = "select * from `repositoriodedadosgpsp.perfil_remuneracao.SIAPE_ativos_social`"

In [6]:
query4 = "select * from `repositoriodedadosgpsp.perfil_remuneracao.SIAPE_ativos_economia_rural`"

Transformando em DataFrame

In [7]:
df1 = pandas_gbq.read_gbq(query1, project_id='repositoriodedadosgpsp')

Downloading: 100%|██████████|

In [8]:
df1['area_ministerio']="Infraestrutura"
df1

,ano,ministerios,servidores_ativos_ministerios,per_servidores,area_ministerio
0,2003,Ministério Das Cidades,209,0.0004,Infraestrutura
1,2004,Ministério Das Cidades,281,0.0006,Infraestrutura
2,2005,Ministério Das Cidades,259,0.0005,Infraestrutura
3,2006,Ministério Das Cidades,431,0.0009,Infraestrutura
4,2007,Ministério Das Cidades,404,0.0008,Infraestrutura
...,...,...,...,...,...
129,2014,"Ministério Da Indústria, Comércio Exterior E S...",3513,0.0059,Infraestrutura
130,2015,"Ministério Da Indústria, Comércio Exterior E S...",3364,0.0056,Infraestrutura
131,2016,"Ministério Da Indústria, Comércio Exterior E S...",3328,0.0055,Infraestrutura
132,2017,"Ministério Da Indústria, Comércio Exterior E S...",3611,0.0059,Infraestrutura
133,2018,"Ministério Da Indústria, Comércio Exterior E S...",3343,0.0055,Infraestrutura

In [9]:
df2 = pandas_gbq.read_gbq(query2, project_id='repositoriodedadosgpsp')

Downloading: 100%|██████████|

In [10]:
df2['area_ministerio'] = "Regulatória"
df2

,ano,ministerios,servidores_ativos_ministerios,per_servidores,area_ministerio
0,1999,Ministério Da Fazenda,27990,0.0580,Regulatória
1,2000,Ministério Da Fazenda,26184,0.0547,Regulatória
2,2001,Ministério Da Fazenda,26912,0.0570,Regulatória
3,2002,Ministério Da Fazenda,27213,0.0575,Regulatória
4,2003,Ministério Da Fazenda,26177,0.0555,Regulatória
...,...,...,...,...,...
57,2014,Ministério Do Planejamento Desenvolvimento E G...,30795,0.0513,Regulatória
58,2015,Ministério Do Planejamento Desenvolvimento E G...,29909,0.0496,Regulatória
59,2016,Ministério Do Planejamento Desenvolvimento E G...,29688,0.0487,Regulatória
60,2017,Ministério Do Planejamento Desenvolvimento E G...,32567,0.0530,Regulatória
61,2018,Ministério Do Planejamento Desenvolvimento E G...,33485,0.0547,Regulatória

In [11]:
df3 = pandas_gbq.read_gbq(query3, project_id='repositoriodedadosgpsp')

Downloading: 100%|██████████|

In [12]:
df3['area_ministerio'] = "Social"
df3

,ano,ministerios,servidores_ativos_ministerios,per_servidores,area_ministerio
0,1999,Ministério Da Saúde,112256,0.2325,Social
1,2000,Ministério Da Saúde,110361,0.2307,Social
2,2001,Ministério Da Saúde,108564,0.2301,Social
3,2002,Ministério Da Saúde,106863,0.2256,Social
4,2003,Ministério Da Saúde,107013,0.2270,Social
...,...,...,...,...,...
134,2014,"Ministério Da Ciência, Tecnologia, Inovação E ...",8682,0.0145,Social
135,2015,"Ministério Da Ciência, Tecnologia, Inovação E ...",8475,0.0140,Social
136,2016,"Ministério Da Ciência, Tecnologia, Inovação E ...",8140,0.0133,Social
137,2017,"Ministério Da Ciência, Tecnologia, Inovação E ...",8505,0.0138,Social
138,2018,"Ministério Da Ciência, Tecnologia, Inovação E ...",8208,0.0134,Social

In [13]:
df4 = pandas_gbq.read_gbq(query4, project_id='repositoriodedadosgpsp')

Downloading: 100%|██████████|

In [14]:
df4['area_ministerio'] = "Economia Rural"
df4

,ano,ministerios,servidores_ativos_ministerios,per_servidores,area_ministerio
0,1999,Ministério Da Defesa,32124,0.0665,Economia Rural
1,2000,Ministério Da Defesa,31199,0.0652,Economia Rural
2,2001,Ministério Da Defesa,30091,0.0638,Economia Rural
3,2002,Ministério Da Defesa,29849,0.0630,Economia Rural
4,2003,Ministério Da Defesa,28902,0.0613,Economia Rural
...,...,...,...,...,...
118,2014,"Ministério Da Agricultura, Pecuária E Abasteci...",10733,0.0179,Economia Rural
119,2015,"Ministério Da Agricultura, Pecuária E Abasteci...",11070,0.0183,Economia Rural
120,2016,"Ministério Da Agricultura, Pecuária E Abasteci...",10925,0.0179,Economia Rural
121,2017,"Ministério Da Agricultura, Pecuária E Abasteci...",10121,0.0165,Economia Rural
122,2018,"Ministério Da Agricultura, Pecuária E Abasteci...",9893,0.0162,Economia Rural

In [15]:
df = pd.concat([df1,df2,df3,df4])
df

,ano,ministerios,servidores_ativos_ministerios,per_servidores,area_ministerio
0,2003,Ministério Das Cidades,209,0.0004,Infraestrutura
1,2004,Ministério Das Cidades,281,0.0006,Infraestrutura
2,2005,Ministério Das Cidades,259,0.0005,Infraestrutura
3,2006,Ministério Das Cidades,431,0.0009,Infraestrutura
4,2007,Ministério Das Cidades,404,0.0008,Infraestrutura
...,...,...,...,...,...
118,2014,"Ministério Da Agricultura, Pecuária E Abasteci...",10733,0.0179,Economia Rural
119,2015,"Ministério Da Agricultura, Pecuária E Abasteci...",11070,0.0183,Economia Rural
120,2016,"Ministério Da Agricultura, Pecuária E Abasteci...",10925,0.0179,Economia Rural
121,2017,"Ministério Da Agricultura, Pecuária E Abasteci...",10121,0.0165,Economia Rural
122,2018,"Ministério Da Agricultura, Pecuária E Abasteci...",9893,0.0162,Economia Rural

In [16]:
df = df[['ano','area_ministerio','ministerios', 'servidores_ativos_ministerios', 'per_servidores']]
df

,ano,area_ministerio,ministerios,servidores_ativos_ministerios,per_servidores
0,2003,Infraestrutura,Ministério Das Cidades,209,0.0004
1,2004,Infraestrutura,Ministério Das Cidades,281,0.0006
2,2005,Infraestrutura,Ministério Das Cidades,259,0.0005
3,2006,Infraestrutura,Ministério Das Cidades,431,0.0009
4,2007,Infraestrutura,Ministério Das Cidades,404,0.0008
...,...,...,...,...,...
118,2014,Economia Rural,"Ministério Da Agricultura, Pecuária E Abasteci...",10733,0.0179
119,2015,Economia Rural,"Ministério Da Agricultura, Pecuária E Abasteci...",11070,0.0183
120,2016,Economia Rural,"Ministério Da Agricultura, Pecuária E Abasteci...",10925,0.0179
121,2017,Economia Rural,"Ministério Da Agricultura, Pecuária E Abasteci...",10121,0.0165
122,2018,Economia Rural,"Ministério Da Agricultura, Pecuária E Abasteci...",9893,0.0162

In [18]:
df['area_ministerio'].unique()

array(['Infraestrutura', 'Regulatória', 'Social', 'Economia Rural'],
      dtype=object)

Subindo para o GBQ

In [17]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

SyntaxError: invalid syntax (2051975784.py, line 1)

In [ ]:
schema= [bigquery.SchemaField('ano','INTEGER',description='Ano de referência da observação'),
          bigquery.SchemaField('ministerios','STRING',description='Ministérios observados'),
          bigquery.SchemaField('servidores_ativos_ministerios', 'INTEGER',description='Número de servidores ativos por ministério'),
          bigquery.SchemaField('per_servidores','FLOAT', description='Percentual de servidores ativos por ministério '),
          bigquery.SchemaField('area_ministerio','STRING',description='Área em que os ministérios estão inclusos')]

In [ ]:
table_ref = dataset_ref.table('SIAPE_ativos_area_ministerios') 
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=065c1dd6-0466-4c28-ae22-cc445b7d91b2>