In [24]:
import pandas as pd
import time
import os
import pandas_gbq
from google.cloud import bigquery
import numpy as np
import re

In [25]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [26]:
df = pd.read_csv('SIAPE_ativos_infraestrutura.csv')
df

,ano,ministerios,servidores_ativos_ministerios,total_servidores_ativos,perc_servidores
0,1999,"ministerio da industria, comercio exterior e s...",2511,482854,0.52
1,1999,ministerio da integracao nacional,3025,482854,0.63
2,1999,ministerio das comunicacoes,1094,482854,0.23
3,1999,ministerio de minas e energia,2218,482854,0.46
4,1999,ministerio do meio ambiente,5957,482854,1.23
...,...,...,...,...,...
129,2018,ministerio da integracao nacional,2380,611916,0.39
130,2018,ministerio das cidades,405,611916,0.07
131,2018,ministerio de minas e energia,4097,611916,0.67
132,2018,ministerio do meio ambiente,8771,611916,1.43
133,2018,"ministerio dos transportes, portos e aviacao c...",6365,611916,1.04

In [27]:
df['ministerios'] = df['ministerios'].str.title() #padronizando

In [28]:
def transformar(nome):
    nome = re.sub(r"\bMinisterio\b", "Ministério",nome)
    nome = re.sub(r"\bIndustria\b", "Indústria",nome)
    nome = re.sub(r"\bComercio\b", "Comércio",nome)
    nome = re.sub(r"\bServicos\b", "Serviços",nome)
    nome = re.sub(r"\bIntegracao\b", "Integração",nome)
    nome = re.sub(r"\bComunicacoes\b", "Comunicações",nome)
    nome = re.sub(r"\bAviacao\b", "Aviação",nome)
    return nome

In [29]:
df['ministerios'] = df['ministerios'].apply(transformar)

In [30]:
df

,ano,ministerios,servidores_ativos_ministerios,total_servidores_ativos,perc_servidores
0,1999,"Ministério Da Indústria, Comércio Exterior E S...",2511,482854,0.52
1,1999,Ministério Da Integração Nacional,3025,482854,0.63
2,1999,Ministério Das Comunicações,1094,482854,0.23
3,1999,Ministério De Minas E Energia,2218,482854,0.46
4,1999,Ministério Do Meio Ambiente,5957,482854,1.23
...,...,...,...,...,...
129,2018,Ministério Da Integração Nacional,2380,611916,0.39
130,2018,Ministério Das Cidades,405,611916,0.07
131,2018,Ministério De Minas E Energia,4097,611916,0.67
132,2018,Ministério Do Meio Ambiente,8771,611916,1.43
133,2018,"Ministério Dos Transportes, Portos E Aviação C...",6365,611916,1.04

In [31]:
df['ministerios'].unique()

array(['Ministério Da Indústria, Comércio Exterior E Serviços',
       'Ministério Da Integração Nacional', 'Ministério Das Comunicações',
       'Ministério De Minas E Energia', 'Ministério Do Meio Ambiente',
       'Ministério Dos Transportes, Portos E Aviação Civil',
       'Ministério Das Cidades'], dtype=object)

In [32]:
df = df.drop(['total_servidores_ativos'], axis=1)

In [33]:
df.rename(columns={'perc_servidores': 'per_servidores'}, inplace=True)
df

,ano,ministerios,servidores_ativos_ministerios,per_servidores
0,1999,"Ministério Da Indústria, Comércio Exterior E S...",2511,0.52
1,1999,Ministério Da Integração Nacional,3025,0.63
2,1999,Ministério Das Comunicações,1094,0.23
3,1999,Ministério De Minas E Energia,2218,0.46
4,1999,Ministério Do Meio Ambiente,5957,1.23
...,...,...,...,...
129,2018,Ministério Da Integração Nacional,2380,0.39
130,2018,Ministério Das Cidades,405,0.07
131,2018,Ministério De Minas E Energia,4097,0.67
132,2018,Ministério Do Meio Ambiente,8771,1.43
133,2018,"Ministério Dos Transportes, Portos E Aviação C...",6365,1.04

In [34]:
df['per_servidores'] = df['per_servidores']/100

In [35]:
df

,ano,ministerios,servidores_ativos_ministerios,per_servidores
0,1999,"Ministério Da Indústria, Comércio Exterior E S...",2511,0.0052
1,1999,Ministério Da Integração Nacional,3025,0.0063
2,1999,Ministério Das Comunicações,1094,0.0023
3,1999,Ministério De Minas E Energia,2218,0.0046
4,1999,Ministério Do Meio Ambiente,5957,0.0123
...,...,...,...,...
129,2018,Ministério Da Integração Nacional,2380,0.0039
130,2018,Ministério Das Cidades,405,0.0007
131,2018,Ministério De Minas E Energia,4097,0.0067
132,2018,Ministério Do Meio Ambiente,8771,0.0143
133,2018,"Ministério Dos Transportes, Portos E Aviação C...",6365,0.0104

Subindo para o GBQ

In [36]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [37]:
schema= [bigquery.SchemaField('ano','INTEGER',description='Ano de referência da observação'),
          bigquery.SchemaField('ministerios','STRING',description='Ministérios observados'),
          bigquery.SchemaField('servidores_ativos_ministerios', 'INTEGER',description='Número de servidores ativos por ministério'),
          bigquery.SchemaField('per_servidores','FLOAT', description='Percentual de servidores ativos por ministério ')]

In [38]:
table_ref = dataset_ref.table('SIAPE_ativos_infraestrutura') 
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=b6553bbc-5cf2-4c3b-a719-9119bea3d5be>