In [1]:
import numpy as np
import pandas as pd
import os
import time
import pandas_gbq
from google.cloud import bigquery

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [3]:
df = pd.read_csv('SIAPE_remuneracao_liquida_executivo_raca.csv')
df

      ano           raca liquido
0    1999        Amarela  5025,7
1    1999         Branca  5945,6
2    1999       Indígena  3995,7
3    1999  Não informado  4814,5
4    1999          Negra  4443,6
..    ...            ...     ...
105  2020        Amarela  7895,7
106  2020         Branca  8301,5
107  2020       Indígena  5442,8
108  2020  Não informado  7422,7
109  2020          Negra  6072,6

[110 rows x 3 columns]

In [4]:
df.rename(columns={'raca':'cor_raca', 'liquido':'remuneracao_liquida'}, inplace=True) #padronizando
df

      ano       cor_raca remuneracao_liquida
0    1999        Amarela              5025,7
1    1999         Branca              5945,6
2    1999       Indígena              3995,7
3    1999  Não informado              4814,5
4    1999          Negra              4443,6
..    ...            ...                 ...
105  2020        Amarela              7895,7
106  2020         Branca              8301,5
107  2020       Indígena              5442,8
108  2020  Não informado              7422,7
109  2020          Negra              6072,6

[110 rows x 3 columns]

In [8]:
df.dtypes

ano                     int64
cor_raca               object
remuneracao_liquida    object
dtype: object

In [9]:
df['remuneracao_liquida'] = df['remuneracao_liquida'].str.replace(',','.').astype(float)

In [10]:
df

      ano       cor_raca  remuneracao_liquida
0    1999        Amarela               5025.7
1    1999         Branca               5945.6
2    1999       Indígena               3995.7
3    1999  Não informado               4814.5
4    1999          Negra               4443.6
..    ...            ...                  ...
105  2020        Amarela               7895.7
106  2020         Branca               8301.5
107  2020       Indígena               5442.8
108  2020  Não informado               7422.7
109  2020          Negra               6072.6

[110 rows x 3 columns]

Subindo para o GBQ

In [5]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [6]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referência da observação'),
 bigquery.SchemaField('cor_raca','STRING',description='Raça/cor da pessoa observada'),
 bigquery.SchemaField('remuneracao_liquida','FLOAT',description='Remuneração liquida da pessoa observada')]

In [11]:
table_ref = dataset_ref.table('SIAPE_remuneracao_liquida_executivo_raca') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=244bc600-db94-4a8d-9b07-9b16c956d92c>