In [10]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import re

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [75]:
df = pd.read_csv('SIAPE_ativos_federal_raca_sexo_ingresso.csv')
df

     ano_ingresso           raca genero  total_vinculo
0            2000         Branca    Fem            498
1            2000  Não informada    Fem             25
2            2000          Negra    Fem             83
3            2000         Outros    Fem             13
4            2001         Branca    Fem            393
..            ...            ...    ...            ...
163          2019         Outros    Mas             91
164          2020         Branca    Mas            529
165          2020  Não informada    Mas             21
166          2020          Negra    Mas            458
167          2020         Outros    Mas             20

[168 rows x 4 columns]

In [76]:
df['genero'].unique()

array(['Fem', 'Mas'], dtype=object)

In [77]:
def transformar(nome):
    nome =re.sub(r"\bFem\b", "Mulheres", nome)
    nome =re.sub(r"\bMas\b", "Homens", nome)
    return nome

In [78]:
df['genero'] = df['genero'].apply(transformar)

In [79]:
df['genero'].unique()

array(['Mulheres', 'Homens'], dtype=object)

In [80]:
df = df.rename(columns={ "raca" :"cor_raca", "total_vinculo" : "quantidade_vinculos"})

In [81]:
df

     ano_ingresso       cor_raca    genero  quantidade_vinculos
0            2000         Branca  Mulheres                  498
1            2000  Não informada  Mulheres                   25
2            2000          Negra  Mulheres                   83
3            2000         Outros  Mulheres                   13
4            2001         Branca  Mulheres                  393
..            ...            ...       ...                  ...
163          2019         Outros    Homens                   91
164          2020         Branca    Homens                  529
165          2020  Não informada    Homens                   21
166          2020          Negra    Homens                  458
167          2020         Outros    Homens                   20

[168 rows x 4 columns]

In [82]:
df['genero_raca'] = df['genero'] + ' ' + df['cor_raca']

In [83]:
df

,ano_ingresso,cor_raca,genero,quantidade_vinculos,genero_raca
0,2000,Branca,Mulheres,498,Mulheres Branca
1,2000,Não informada,Mulheres,25,Mulheres Não informada
2,2000,Negra,Mulheres,83,Mulheres Negra
3,2000,Outros,Mulheres,13,Mulheres Outros
4,2001,Branca,Mulheres,393,Mulheres Branca
...,...,...,...,...,...
163,2019,Outros,Homens,91,Homens Outros
164,2020,Branca,Homens,529,Homens Branca
165,2020,Não informada,Homens,21,Homens Não informada
166,2020,Negra,Homens,458,Homens Negra
167,2020,Outros,Homens,20,Homens Outros

In [84]:
df= df[['ano_ingresso',	'cor_raca',	'genero', 'genero_raca', 'quantidade_vinculos']]
df

,ano_ingresso,cor_raca,genero,genero_raca,quantidade_vinculos
0,2000,Branca,Mulheres,Mulheres Branca,498
1,2000,Não informada,Mulheres,Mulheres Não informada,25
2,2000,Negra,Mulheres,Mulheres Negra,83
3,2000,Outros,Mulheres,Mulheres Outros,13
4,2001,Branca,Mulheres,Mulheres Branca,393
...,...,...,...,...,...
163,2019,Outros,Homens,Homens Outros,91
164,2020,Branca,Homens,Homens Branca,529
165,2020,Não informada,Homens,Homens Não informada,21
166,2020,Negra,Homens,Homens Negra,458
167,2020,Outros,Homens,Homens Outros,20

In [85]:
df['genero_raca'].unique()

array(['Mulheres Branca', 'Mulheres Não informada', 'Mulheres Negra',
       'Mulheres Outros', 'Homens Branca', 'Homens Não informada',
       'Homens Negra', 'Homens Outros'], dtype=object)

In [86]:
def transformar(nome):
    nome =re.sub(r"\bMulheres Branca\b", "Mulheres Brancas", nome)
    nome =re.sub(r"\bMulheres Negra\b", "Mulheres Negras", nome)
    nome =re.sub(r"\bMulheres Não informada\b", "Mulheres sem informação de raça", nome)
    nome =re.sub(r"\bMulheres Outros\b", "Mulheres com outras raças", nome)
    nome =re.sub(r"\bHomens Branca\b", "Homens Brancos", nome)
    nome =re.sub(r"\bHomens Negra\b", "Homens Negros", nome)
    nome =re.sub(r"\bHomens Não informada\b", "Homens sem informação de raça", nome)
    nome =re.sub(r"\bHomens Outros\b", "Homens com outras raças", nome)
    return nome

In [87]:
df['genero_raca'] = df['genero_raca'].apply(transformar)

In [88]:
df

,ano_ingresso,cor_raca,genero,genero_raca,quantidade_vinculos
0,2000,Branca,Mulheres,Mulheres Brancas,498
1,2000,Não informada,Mulheres,Mulheres sem informação de raça,25
2,2000,Negra,Mulheres,Mulheres Negras,83
3,2000,Outros,Mulheres,Mulheres com outras raças,13
4,2001,Branca,Mulheres,Mulheres Brancas,393
...,...,...,...,...,...
163,2019,Outros,Homens,Homens com outras raças,91
164,2020,Branca,Homens,Homens Brancos,529
165,2020,Não informada,Homens,Homens sem informação de raça,21
166,2020,Negra,Homens,Homens Negros,458
167,2020,Outros,Homens,Homens com outras raças,20

Subindo para GBQ

In [92]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [93]:
schema=[bigquery.SchemaField('ano_ingresso','INTEGER',description='Ano referente ao ingresso da pessoa na profissão'),
        bigquery.SchemaField('cor_raca','STRING',description='Raça/cor da pessoa observada '),
        bigquery.SchemaField('genero','STRING',description='Gênero autodeclarado ou não'),
        bigquery.SchemaField('genero_raca','STRING',description='Gênero e raça da pessoa observada'),
        bigquery.SchemaField('quantidade_vinculos','INTEGER',description='Número total de vinculos observados')]

In [94]:
table_ref = dataset_ref.table('SIAPE_ativos_federal_raca_sexo_ingresso')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=cfddc7fa-811e-4e38-93bc-2449abc2486e>