In [1]:
import pandas as pd
import os
import numpy as np

In [22]:
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir")

In [2]:
 df_wide =pd.read_csv("4424-grafico4.csv", sep=";")

FileNotFoundError: [Errno 2] No such file or directory: '4424-grafico4.csv'

In [17]:
df_wide

     Ano         RPPS    Salarios
0   2002        0,021        0,038
1   2003         0,02        0,037
2   2004        0,019        0,035
3   2005        0,019        0,037
4   2006        0,019        0,038
5   2007        0,018        0,037
6   2008        0,018        0,037
7   2009        0,018        0,038
8   2010   0,01779811  0,036644524
9   2011  0,018001917  0,036436966
10  2012  0,018872775  0,037085908
11  2013  0,019215919   0,03802809
12  2014  0,019971718  0,038093445
13  2015  0,021659254   0,04009657
14  2016  0,022768754  0,039721414
15  2017  0,023936768  0,039554596
16  2018  0,024396163  0,038453163
17  2019  0,025093086  0,037699075
18  2020  0,027552446  0,037280386

In [19]:
df_long = df_wide.melt('Ano', var_name='Tipo de despesa', value_name='% PIB')

In [20]:
df_long

     Ano Tipo de despesa        % PIB
0   2002            RPPS        0,021
1   2003            RPPS         0,02
2   2004            RPPS        0,019
3   2005            RPPS        0,019
4   2006            RPPS        0,019
5   2007            RPPS        0,018
6   2008            RPPS        0,018
7   2009            RPPS        0,018
8   2010            RPPS   0,01779811
9   2011            RPPS  0,018001917
10  2012            RPPS  0,018872775
11  2013            RPPS  0,019215919
12  2014            RPPS  0,019971718
13  2015            RPPS  0,021659254
14  2016            RPPS  0,022768754
15  2017            RPPS  0,023936768
16  2018            RPPS  0,024396163
17  2019            RPPS  0,025093086
18  2020            RPPS  0,027552446
19  2002       Salarios         0,038
20  2003       Salarios         0,037
21  2004       Salarios         0,035
22  2005       Salarios         0,037
23  2006       Salarios         0,038
24  2007       Salarios         0,037
25  2008       Salarios         0,037
26  2009       Salarios         0,038
27  2010       Salarios   0,036644524
28  2011       Salarios   0,036436966
29  2012       Salarios   0,037085908
30  2013       Salarios    0,03802809
31  2014       Salarios   0,038093445
32  2015       Salarios    0,04009657
33  2016       Salarios   0,039721414
34  2017       Salarios   0,039554596
35  2018       Salarios   0,038453163
36  2019       Salarios   0,037699075
37  2020       Salarios   0,037280386

In [23]:
df_long.to_csv("Tabelas Finais\\IPEA_despesa_PIB_salarios_RPPS.csv")

In [3]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais\\Tratar primeira coluna e nomes ')

In [4]:
df = pd.read_csv("IPEA_despesa_PIB_salarios_RPPS.csv")
df

    Unnamed: 0   Ano Tipo de despesa        % PIB
0            0  2002            RPPS        0,021
1            1  2003            RPPS         0,02
2            2  2004            RPPS        0,019
3            3  2005            RPPS        0,019
4            4  2006            RPPS        0,019
5            5  2007            RPPS        0,018
6            6  2008            RPPS        0,018
7            7  2009            RPPS        0,018
8            8  2010            RPPS   0,01779811
9            9  2011            RPPS  0,018001917
10          10  2012            RPPS  0,018872775
11          11  2013            RPPS  0,019215919
12          12  2014            RPPS  0,019971718
13          13  2015            RPPS  0,021659254
14          14  2016            RPPS  0,022768754
15          15  2017            RPPS  0,023936768
16          16  2018            RPPS  0,024396163
17          17  2019            RPPS  0,025093086
18          18  2020            RPPS  0,027552446
19          19  2002       Salarios         0,038
20          20  2003       Salarios         0,037
21          21  2004       Salarios         0,035
22          22  2005       Salarios         0,037
23          23  2006       Salarios         0,038
24          24  2007       Salarios         0,037
25          25  2008       Salarios         0,037
26          26  2009       Salarios         0,038
27          27  2010       Salarios   0,036644524
28          28  2011       Salarios   0,036436966
29          29  2012       Salarios   0,037085908
30          30  2013       Salarios    0,03802809
31          31  2014       Salarios   0,038093445
32          32  2015       Salarios    0,04009657
33          33  2016       Salarios   0,039721414
34          34  2017       Salarios   0,039554596
35          35  2018       Salarios   0,038453163
36          36  2019       Salarios   0,037699075
37          37  2020       Salarios   0,037280386

Renomeação de colunas

In [8]:
df.rename(columns={"Ano": "ano", "Tipo de despesa": "tipo_despesa", "% PIB" : "PIB_percent"}, inplace=True)
df

     ano tipo_despesa  PIB_percent
0   2002         RPPS        0,021
1   2003         RPPS         0,02
2   2004         RPPS        0,019
3   2005         RPPS        0,019
4   2006         RPPS        0,019
5   2007         RPPS        0,018
6   2008         RPPS        0,018
7   2009         RPPS        0,018
8   2010         RPPS   0,01779811
9   2011         RPPS  0,018001917
10  2012         RPPS  0,018872775
11  2013         RPPS  0,019215919
12  2014         RPPS  0,019971718
13  2015         RPPS  0,021659254
14  2016         RPPS  0,022768754
15  2017         RPPS  0,023936768
16  2018         RPPS  0,024396163
17  2019         RPPS  0,025093086
18  2020         RPPS  0,027552446
19  2002    Salarios         0,038
20  2003    Salarios         0,037
21  2004    Salarios         0,035
22  2005    Salarios         0,037
23  2006    Salarios         0,038
24  2007    Salarios         0,037
25  2008    Salarios         0,037
26  2009    Salarios         0,038
27  2010    Salarios   0,036644524
28  2011    Salarios   0,036436966
29  2012    Salarios   0,037085908
30  2013    Salarios    0,03802809
31  2014    Salarios   0,038093445
32  2015    Salarios    0,04009657
33  2016    Salarios   0,039721414
34  2017    Salarios   0,039554596
35  2018    Salarios   0,038453163
36  2019    Salarios   0,037699075
37  2020    Salarios   0,037280386

Eliminação de coluna

In [7]:
df = df.drop('Unnamed: 0', axis=1)
df

     ano tipo_despesa  PIB_percent
0   2002         RPPS        0,021
1   2003         RPPS         0,02
2   2004         RPPS        0,019
3   2005         RPPS        0,019
4   2006         RPPS        0,019
5   2007         RPPS        0,018
6   2008         RPPS        0,018
7   2009         RPPS        0,018
8   2010         RPPS   0,01779811
9   2011         RPPS  0,018001917
10  2012         RPPS  0,018872775
11  2013         RPPS  0,019215919
12  2014         RPPS  0,019971718
13  2015         RPPS  0,021659254
14  2016         RPPS  0,022768754
15  2017         RPPS  0,023936768
16  2018         RPPS  0,024396163
17  2019         RPPS  0,025093086
18  2020         RPPS  0,027552446
19  2002    Salarios         0,038
20  2003    Salarios         0,037
21  2004    Salarios         0,035
22  2005    Salarios         0,037
23  2006    Salarios         0,038
24  2007    Salarios         0,037
25  2008    Salarios         0,037
26  2009    Salarios         0,038
27  2010    Salarios   0,036644524
28  2011    Salarios   0,036436966
29  2012    Salarios   0,037085908
30  2013    Salarios    0,03802809
31  2014    Salarios   0,038093445
32  2015    Salarios    0,04009657
33  2016    Salarios   0,039721414
34  2017    Salarios   0,039554596
35  2018    Salarios   0,038453163
36  2019    Salarios   0,037699075
37  2020    Salarios   0,037280386

In [ ]:
df = df.to_csv('IPEA_despesa_PIB_salarios_RPPS.csv', index = False)