In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\Atlas do Estado')

In [6]:
df = pd.read_csv("SIAPE_nomeados_das_servico_pulico.csv", sep=";")
df

      ano cargos  funcionarios  grafico
0    1999  DAS-1         73.10        4
1    1999  DAS-2         71.22        4
2    1999  DAS-3         72.13        4
3    1999  DAS-4         58.67        4
4    1999  DAS-5         56.44        4
..    ...    ...           ...      ...
109  2017  DAS-2         72.98        4
110  2017  DAS-3         62.21        4
111  2017  DAS-4         61.43        4
112  2017  DAS-5         67.47        4
113  2017  DAS-6         56.31        4

[114 rows x 4 columns]

In [7]:
df = df.to_csv('SIAPE_nomeados_das_servico_pulico.csv', index = False)