In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import re

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\ENAP - ações afirmativas')

In [3]:
df = pd.read_excel('corte_cargo_funcao.xlsx')
df

   codigo_funcao_cargo acao_afirmativa  quantidade
0                   CD             Sim           4
1                   CD             Não          38
2                  CGE             Sim           0
3                  CGE             Não           1
4                  DAS             Sim           5
5                  DAS             Não          13
6                  FCT             Sim           0
7                  FCT             Não           4
8                   FG             Sim         113
9                   FG             Não         654
10                 FGR             Sim           3
11                 FGR             Não          32
12                 FPE             Sim           0
13                 FPE             Não           4
14                 FUC             Sim           5
15                 FUC             Não          56

In [4]:
df = df.rename(columns={'acao_afirmativa':'forma_identificacao', 'quantidade' : 'valor'})

In [5]:
df

   codigo_funcao_cargo forma_identificacao  valor
0                   CD                 Sim      4
1                   CD                 Não     38
2                  CGE                 Sim      0
3                  CGE                 Não      1
4                  DAS                 Sim      5
5                  DAS                 Não     13
6                  FCT                 Sim      0
7                  FCT                 Não      4
8                   FG                 Sim    113
9                   FG                 Não    654
10                 FGR                 Sim      3
11                 FGR                 Não     32
12                 FPE                 Sim      0
13                 FPE                 Não      4
14                 FUC                 Sim      5
15                 FUC                 Não     56

Subindo para o GBQ

In [6]:
client = bigquery.Client()
dataset_ref = client.dataset('acoes_afirmativas')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [7]:
schema = [bigquery.SchemaField('codigo_funcao_cargo', 'STRING', description= 'Código da função do cargo observado'),
         bigquery.SchemaField('forma_identificacao', 'STRING', description= 'Autodeclaração de cota ou não'),
         bigquery.SchemaField('valor', 'INTEGER', description= 'Quantidade total da observação')]

In [8]:
table_ref = dataset_ref.table('SIAPE_corte_cargo_funcao')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=babfe9e7-97dd-4d3b-b9f4-efde06abcb2d>