In [2]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery

In [3]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\ENAP - ações afirmativas')

In [4]:
df = pd.read_csv('perc_professor_superior.csv')
df

   universidade quantidade_cotista
0          FUAM              0,00%
1          FUFO              0,00%
2        FUFPEL              0,00%
3       FUFSCAR              0,00%
4          FUMA              0,00%
..          ...                ...
59        UFSC               1,97%
60        UFOPA              2,38%
61         UFMS              3,70%
62        UFGD               4,28%
63       UFESBA              7,74%

[64 rows x 2 columns]

In [5]:
df = df.rename(columns={'quantidade_cotista':'per_cotistas'})

In [8]:
df['per_cotistas'] = df['per_cotistas'].str.strip('%').replace(',', '.')

In [12]:
df = df[df['per_cotistas']>0].sort_values(by=['per_cotistas'], ascending=False)

In [10]:
df['per_cotistas'] = df['per_cotistas'].str.replace(',','.').astype(float)

In [11]:
df['per_cotistas'] = df['per_cotistas']/100

In [14]:
df = df[['universidade', 'per_cotistas']]

In [15]:
df

   universidade  per_cotistas
63       UFESBA        0.0774
62        UFGD         0.0428
61         UFMS        0.0370
60        UFOPA        0.0238
59        UFSC         0.0197
58        FUFT         0.0150
57        UNIR         0.0144
56         UFBA        0.0131
55        UFLA         0.0130
54         UFMT        0.0128
53       UNIFEI        0.0100
52         UFAC        0.0088
51       UNIFAP        0.0069
50          UFV        0.0054
49       UNILAB        0.0054
48        UFCG         0.0050
47        UFPA         0.0047
46        FUFS         0.0047
45      UFRPE          0.0041
44         UFJF        0.0041
43         UFRJ        0.0039
42        UFRB         0.0035
41         UNB         0.0026
40     UFSM/RS         0.0026
39        UFRN         0.0025
38       UTFPR         0.0024
37        UFGO         0.0021
36        UFMG         0.0018

Subindo para o GBQ

In [16]:
client = bigquery.Client()
dataset_ref = client.dataset('acoes_afirmativas')

In [17]:
schema = [bigquery.SchemaField('universidade', 'STRING', description= 'Universidades observadas'),
         bigquery.SchemaField('per_cotistas', 'FLOAT', description= 'Percentual de cotistas observados')]

In [18]:
table_ref = dataset_ref.table('SIAPE_perc_professor_superior')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=99619bfe-1a49-4275-88f7-a5f8df80bbe7>