In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import re

In [42]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\ENAP - ações afirmativas')

In [43]:
df = pd.read_csv('corte_carreiras.csv')
df

,Carreiras,Ampla Concorrência,Cotista,Total,% Cotista
0,ASSISTENTE EM\nADMINISTRACAO,5019,1271,6290,"0,20"
1,PROFESSOR ENS BASICO TECN\nTECN,4357,571,4928,"0,12"
2,TECNICO DE LABORATORIO\nAREA,1411,163,1574,"0,10"
3,POLICIAL RODOVIARIO\nFEDERAL,763,176,939,"0,19"
4,AUX EM ADMINISTRACAO,707,174,881,"0,20"
...,...,...,...,...,...
223,TEC EM PROPRIEDADE\nINDUSTRIAL,1,O,1,"0,00"
224,TEC EM REABILIT OU\nFISIOTERAPI,1,O,1,"0,00"
225,TEC ESPECIALIZADO II,1,O,1,"0,00"
226,TEC SUPORTE INFRA-ESTRUT\nDE TR,1,O,1,"0,00"
227,TECNICO DE CONTABILIDADE,1,O,1,"0,00"

In [44]:
df['Carreiras'] = df['Carreiras'].str.replace('\n', '') #Primeiramente, tratamento a coluna 'Carreiras' 
df

                         Carreiras Ampla Concorrência Cotista  Total % Cotista
0       ASSISTENTE EMADMINISTRACAO               5019    1271   6290      0,20
1    PROFESSOR ENS BASICO TECNTECN               4357     571   4928      0,12
2       TECNICO DE LABORATORIOAREA               1411     163   1574      0,10
3       POLICIAL RODOVIARIOFEDERAL                763     176    939      0,19
4             AUX EM ADMINISTRACAO                707     174    881      0,20
..                             ...                ...     ...    ...       ...
223   TEC EM PROPRIEDADEINDUSTRIAL                  1       O      1      0,00
224  TEC EM REABILIT OUFISIOTERAPI                  1       O      1      0,00
225           TEC ESPECIALIZADO II                  1       O      1      0,00
226  TEC SUPORTE INFRA-ESTRUTDE TR                  1       O      1      0,00
227       TECNICO DE CONTABILIDADE                  1       O      1      0,00

[228 rows x 5 columns]

In [45]:
df['Carreiras'] = df['Carreiras'].str.title()

In [40]:
df['Carreiras'].unique()

array(['Assistente Emadministracao', 'Professor Ens Basico Tecntecn',
       'Tecnico De Laboratorioarea', 'Policial Rodoviariofederal',
       'Aux Em Administracao', 'Tec De Tecnologia Dainformaca',
       'Agente De Policia Federal3A C', 'Tec Infor Geograficas Eestati',
       'Administrador', 'Tecnico Em Assuntoseducaciona',
       'Tecnico Do Seguro Social', 'Medico-Arfa', 'Tecnologista',
       'Tecnico Em Contabilidade', 'Engenheiro-Area',
       'Assistente De Aluno', 'Bibliotecario-Documentalista',
       'Analista De Tec Dainformacao', 'Auditor Fiscal Federalagropec',
       'Tradutor Interprete Delinguag', 'Contador',
       'Tecnico Em Enfermagem', 'Enfermeiro-Area', 'Tecnologo-Formacao',
       'Pedagogo-Area', 'Auxiliar De Enfermagem',
       'Indigenista Especializado', 'Procurador Da Fazenda',
       'Agente Administrativo', 'Psicologo-Area', 'Advogado Da Uniao',
       'Assistente Social', 'Assistente De Laboratorio',
       'Tecnico Administrativo', 'Auxiliar De Biblioteca', 'Tecnico',
       'Terceiro Secretario', 'Tecnico Em Agropecuaria',
       'Delegado De Policiafederal 3A', 'Tecnico Em Secretariado',
       'Tecnico I', 'Analista Plan Gest Infinfor G',
       'Pesq Em Propriedadeindustrial', 'Nutricionista-Habilitacao',
       'Auxiliar Institucional I', 'Tecnico Em Audiovisual', 'Analista I',
       'Arquivista', 'Secretario Executivo', 'Tecnico Em Eletrotecnica',
       'Analista Do Seguro Social', 'Analista Em Ciencia Etecnolog',
       'Tecnico Em Arquivo', 'Jornalista', 'Tec Em Seguranca Dotrabalho',
       'Escrivao De Policiafederal 3A', 'Analista De Planejamentoe Orc',
       'Medico Veterinario', 'Tecnol Inf Geograficaestatist',
       'Tecnico Em Mecanica', 'Arquiteto E Urbanista',
       'Contramestre-Oficio', 'Oficial De Chancelaria',
       'Tec E Reg De Serv Detransa Aq', 'Defensor Publico Da Uniao',
       'Analista Administrativo', 'Auditor',
       'Perito Criminal Federal 3Acla', 'Pesquisador Em Saudepublica',
       'Analista Tecnicoadministrativ', 'Odontologo - 40 Horas',
       'Tecnologista Em Propriedindus', 'Esp Em Reg De Serv Pub Detele',
       'Tecnico Em Artes Graficas', 'Assistente Em Ciencia Etecnol',
       'Esp Em Reg De Serv Detransp A', 'Tecnico Em Edificacoes',
       'Engenheiro Agronomo', 'Tecnico Em Saude Publica',
       'Agente De Insp Sanit Indprod', 'Farmaceutico', 'Biologo',
       'Engenheiro De Seg Dotrabalho', 'Administrador Deedificios',
       'Programador Visual', 'Tecnico Em Radiologia', 'Relacoes Publicas',
       'Analista Exec Emmetrologia E', 'Auxiliar Em Assuntoseducacion',
       'Tec Em Regulacao Deaviacao Ci', 'Mestre De Edif Einfraestrutur',
       'Produtor Cultural', 'Analista Tecnico Depoliticas',
       'Tecnico Em Alimentos Elaticin', 'Tecnico Em Quimica',
       'Farmaceutico-Habilitacao', 'Economista', 'Tecnico Em Eletronica',
       'Revisor De Textos Braille', 'Assist De Tecnologia Dainform',
       'Quimico', 'Agente Em Indigenismo', 'Auxiliar De Saude',
       'Tec Em Eletroeletronica', 'Operador De Maqagricolas',
       'Tecnico Desportivo', 'Papiloscopista Polfederal 3A', 'Musico',
       'Tecnico Em Farmacia', 'Revisor De Textos',
       'Assist Tecnico De Gestaoem Sa', 'Tec Em Regul De Saudesuplemen',
       'Esp Em Regulacao Deaviacao Ci', 'Museologo', 'Estatistico',
       'Tecnico Emeletromecanica', 'Tec Em Anatomia Enecropsia',
       'Tec Em Telecomunicacao', 'Assistente Exec Em Metrole Qu',
       'Farmaceutico Bioquimico', 'Operador De Est Detratam Agua',
       'Tradutor Interprete', 'Tec Reg Pet E Deriv Alccomb',
       'Fisioterapeuta', 'Operador De Camera Decinema E', 'Sonoplasta',
       'Analista Em Tecnologiada Info', 'Agente De Policia Federal2A C',
       'Desenhista Tecnicoespecializa', 'Pesquisador-Tecnologistametr',
       'Geologo', 'Auxiliar De Creche', 'Tecnico Em Mineracao',
       'Diagramador', 'Tec Reg De Serv Pub Detelecom',
       'Aux De Veterinaria Ezootecnia', 'Instrumentadorcirurgico',
       'Operador De Luz', 'Programador De Radio Etelevis',
       'Fonoaudiologo', 'Operador De Caldeira', 'Editor De Imagens',
       'Tec Equip Medicoodontologico', 'Assistente De Chancelaria',
       'Desenhista-Projetista', 'Escrivao De Policiafederal 2A',
       'Tec Em Nutricao Edietetica', 'Geografo',
       'Tecnico Em Refrigeracao', 'Terapeuta Ocupacional', 'Fisico',
       'Tecnico De Nivel Superior', 'Tecnico Em Comunicacaosocial',
       'Tecnico Em Geologia', 'Agente De Pol Federalclasse E',
       'Pesquisador', 'Publicitario', 'Tecnico Em Educacaofisica',
       'Auxiliar Em Indigenismo', 'Auxiliar De Agropecuaria',
       'Diretor De Producao', 'Escrivao De Pol Federalclasse',
       'Desenhista De Artesgraficas', 'Editor De Publicacoes',
       'Fotografo', 'Meteorologista', 'Operador De Radiotelecomunica',
       'Auxiliar De Laboratorio', 'Tecnico Em Economiadomestica',
       'Assistente De Direcao Eproduc', 'Biomedico',
       'Diretor De Artes Cenicas', 'Diretor De Programa',
       'Enfermeiro Do Trabalho', 'Locutor',
       'Odontologo - 30 Horas - Dl144', 'Regente', 'Taxidermista',
       'Coreografo', 'Engenheiro', 'Tecnico Em Otica',
       'Afinador De Inst Musicais', 'Agente De Telecomuni Eeletric',
       'Analista Tributario Recfedera', 'Arqueologo',
       'Assistente Tecnicoadministrat', 'Comandante De Lancha',
       'Hialotecnico', 'Historiador', 'Matematico', 'Medico',
       'Musico-Terapeuta', 'Redator', 'Tec Em Instrumentacao',
       'Papiloscopista Pol Fedclasse', 'Tecnico Em Radiologia 24Horas',
       'Tecnologo Emcooperativismo', 'Agente De Policia Federalla C',
       'Agente De Vigilancia', 'Agente Federal Deexecucao Pen',
       'Analista De Infra-Estrutura', 'Antropologo', 'Assistente De Som',
       'Assistente Tecnico-Administrat', 'Bibliotecario', 'Cenotecnico',
       'Copeiro', 'Diretor De Fotografia', 'Diretor De Imagem',
       'Diretor De Som', 'Eletricista', 'Especialista Emmetrologia E Q',
       'Guarda Florestal', 'Locutor 25 Horas',
       'Mecanico De Montagem Emanuten', 'Motorista Oficial', 'Oceanologo',
       'Operador De Centralhidreletri', 'Papiloscopista Polfederal 2A',
       'Pedreiro', 'Psicologo', 'Tec Em Informacoeseducacionai',
       'Tec Em Manutencao Deaudio Vid', 'Tec Em Propriedadeindustrial',
       'Tec Em Reabilit Oufisioterapi', 'Tec Especializado Ii',
       'Tec Suporte Infra-Estrutde Tr', 'Tecnico De Contabilidade'],
      dtype=object)

In [46]:
def transformar(nome):
    nome = re.sub(r"\bTecnico\b", "Técnico", nome)
    nome = re.sub(r"\bEmadministracao\b", "Em Administração", nome)
    nome = re.sub(r"\bProfessor Ens Basico Tecntecn\b", "Professor Ensino Básico Técnico Téc.", nome)
    nome = re.sub(r"\bLaboratorioarea\b", "Laboratório-Área", nome)
    nome = re.sub(r"\bPolicial Rodoviariofederal\b", "Policial Rodoviário Federal", nome)
    nome = re.sub(r"\bAux Em Administracao\b", "Auxiliar Em Administração", nome)
    nome = re.sub(r"\bTec De Tecnologia Dainformaca\b", "Técnico De Tecnologia Da Informação", nome)
    nome = re.sub(r"\bAgente De Policia Federal3A C\b", "Agente De Polícia Federal 3A C", nome) 
    nome = re.sub(r"\bTec Infor Geograficas Eestati\b", "Técnico em Informações Geográficas E Estatíticas", nome)
    nome = re.sub(r"\bAssuntoseducaciona\b", "Assuntos Educacionais", nome)
    nome = re.sub(r"\bMedico-Arfa\b", "Médico-Área", nome)
    nome = re.sub(r"\bEngenheiro-Area\b", "Engenheiro-Área", nome)
    nome = re.sub(r"\bBibliotecario-Documentalista\b", "Bibliotecário Documentalista", nome)
    nome = re.sub(r"\bAnalista De Tec Dainformacao\b", "Analista De Tecnologia Da Informação", nome)
    nome = re.sub(r"\bAuditor Fiscal Federalagropec\b", "Auditor Fiscal Federal Agropecuário", nome)
    nome = re.sub(r"\bTradutor Interprete Delinguag\b", "Tradutor Intérprete De Língua", nome)
    nome = re.sub(r"\bEnfermagem\b", "Enfermagem", nome)
    nome = re.sub(r"\bEnfermeiro-Area\b", "Enfermeiro-Área", nome)
    nome = re.sub(r"\bTecnologo-Formacao\b", "Tecnólogo-Formação", nome)
    nome = re.sub(r"\bPedagogo-Area\b", "Pedagogo-Área", nome)
    nome = re.sub(r"\bPsicologo-Area\b", "Psicólogo-Área", nome)
    nome = re.sub(r"\bUniao\b", "União", nome)
    nome = re.sub(r"\bLaboratorio\b", "Laboratório", nome)
    nome = re.sub(r"\bSecretario\b", "Secretário", nome)
    nome = re.sub(r"\bAgropecuaria\b", "Agropecuária", nome)
    nome = re.sub(r"\bDelegado De Policiafederal 3A\b", "Delegado De Polícia Federal 3A", nome)
    nome = re.sub(r"\bAnalista Plan Gest Infinfor G\b", "Analista Planejamento Gestão Informação G.", nome)
    nome = re.sub(r"\bPesq Em Propriedadeindustrial\b", "Pesquisador Em Propriedade Industrial", nome)
    nome = re.sub(r"\bNutricionista-Habilitacao\b", "Nutricionista Habilitação", nome)
    nome = re.sub(r"\bEletrotecnica\b", "Eletrotécnica", nome)
    nome = re.sub(r"Analista Em Ciencia Etecnolog", "Analista Em Ciência E Tecnologia", nome)
    nome = re.sub(r"\bTec Em Seguranca Dotrabalho\b", "Técnico Em Segurança Do Trabalho", nome)
    nome = re.sub(r"\bEscrivao De Policiafederal 3A\b", "Escrivão De Polícia Federal 3A", nome)
    nome = re.sub(r"\bAnalista De Planejamentoe Orc\b", "Analista De Planejamento E Orçamento", nome)
    nome = re.sub(r"\bMedico Veterinario\b", "Médico Veterinário", nome)
    nome = re.sub(r"\bTecnol Inf Geograficaestatist\b", "Tecnólogo Em Informação Geográfica Estatística", nome)
    nome = re.sub(r"\bMecanica\b", "Mecânica", nome)
    nome = re.sub(r"\bContramestre-Oficio\b", "Contramestre-Ofício", nome)
    nome = re.sub(r"\bTec E Reg De Serv Detransa Aq\b", "Técnico E Regulador De Serviços Detransação Aquaviária", nome)
    nome = re.sub(r"\bDefensor Publico Da Uniao\b", "Defensor Público Da União", nome)
    nome = re.sub(r"\bPerito Criminal Federal 3Acla\b", "Perito Criminal Federal 3A CLA", nome)
    nome = re.sub(r"\bPesquisador Em Saudepublica\b", "Pesquisador Em Saúde Pública", nome)
    nome = re.sub(r"\bAnalista Tecnicoadministrativ\b", "Analista Técnico Administrativo", nome)
    nome = re.sub(r"\bOdontologo - 40 Horas\b", "Odontólogo - 40 Horas", nome)
    nome = re.sub(r"\bTecnologista Em Propriedindus\b", "Tecnologista Em Propriedade Industrial", nome)
    nome = re.sub(r"\bEsp Em Reg De Serv Pub Detele\b", "Esp. Em Reg. De Serv. Púb. Tele.", nome) 
    nome = re.sub(r"\bGraficas\b", "Gráficas", nome)
    nome = re.sub(r"\bAssistente Em Ciencia Etecnol\b", "Assistente Em Ciência E Tecnologia", nome)
    nome = re.sub(r"\bEsp Em Reg De Serv Detransp A\b", "Esp. Em Reg. De Serv. De Transp. A", nome) 
    nome = re.sub(r"\bEdificacoes\b", "Edificações", nome)
    nome = re.sub(r"\bAgronomo\b", "Engenheiro Agrônomo", nome)
    nome = re.sub(r"\bSaude Publica\b", "Saúde Pública", nome)
    nome = re.sub(r"\bAgente De Insp Sanit Indprod\b", "Agente De Insp. Sanit. Ind. Prod", nome)
    nome = re.sub(r"\bFarmaceutico\b", "Farmacêutico", nome)
    nome = re.sub(r"\bBiologo\b", "Biólogo", nome)
    nome = re.sub(r"\bEngenheiro De Seg Dotrabalho\b", "Engenheiro De Seg. Do Trabalho", nome)
    nome = re.sub(r"\bDeedificios\b", "De Edifícios", nome)
    nome = re.sub(r"Programador Visual", "Programador Visual", nome)
    nome = re.sub(r"\bRelacoes Publicas\b", "Relações Públicas", nome)
    nome = re.sub(r"\bAnalista Exec Emmetrologia E\b", "Analista Exec. Em Metrologia E.", nome)
    nome = re.sub(r"\bAuxiliar Em Assuntoseducacion\b", "Auxiliar Em Assuntos Educacionais", nome)
    nome = re.sub(r"\bTec Em Regulacao Deaviacao Ci\b", "Técnico Em Regulação De Aviação C.", nome)
    nome = re.sub(r"\bMestre De Edif Einfraestrutur\b", "Mestre De Edif. E Infraestrutura", nome)
    nome = re.sub(r"\bDepoliticas\b", "Analista Técnico De Políticas", nome)
    nome = re.sub(r"\bElaticin\b", "E Latícínios", nome)
    nome = re.sub(r"\bQuimica\b", "Química", nome)
    nome = re.sub(r"\bFarmaceutico-Habilitacao\b", "Farmacêutico-Habilitação", nome)
    nome = re.sub(r"\bEletronica\b", "Eletrônica", nome)
    nome = re.sub(r"\bAssist De Tecnologia Dainform\b", "Assist. De Tecnologia Da Informação", nome)
    nome = re.sub(r"\bQuimico\b", "Químico", nome)
    nome = re.sub(r"\bSaude\b", " Saúde", nome)
    nome = re.sub(r"\bTec Em Eletroeletronica\b", "Técnico Em Eletroeletrônica", nome)
    nome = re.sub(r"\bOperador De Maqagricolas\b", "Operador De Máquinas Agrícolas", nome)
    nome = re.sub(r"\bPapiloscopista Polfederal 3A\b", "Papiloscopista Pol. Federal 3A", nome)
    nome = re.sub(r"\bMusico\b", "Músico", nome)
    nome = re.sub(r"\bFarmacia\b", "Técnico Em Farmácia", nome)
    nome = re.sub(r"\bAssist Tecnico De Gestaoem Sa\b", "Assistente Técnico De Gestão Em Saúde", nome)
    nome = re.sub(r"\bTec Em Regul De Saudesuplemen\b", "Técnico Em Regul. De Saúde Suplementar", nome)
    nome = re.sub(r"\bEsp Em Regulacao Deaviacao Ci\b", "Esp. Em Regulação De Aviação C.", nome)
    nome = re.sub(r"\bMuseologo\b", "Museólogo", nome)
    nome = re.sub(r"\bEstatistico\b", "Estatístico", nome)
    nome = re.sub(r"\bEmeletromecanica\b", "Técnico Em Eletromecânica", nome)
    nome = re.sub(r"\bTec Em Anatomia Enecropsia\b", "Técnico Em Anatomia E Necropsia", nome)
    nome = re.sub(r"\bTec Em Telecomunicacao\b", "Técnico Em Telecomunicação", nome)
    nome = re.sub(r"\bAssistente Exec Em Metrole Qu\b", "Assistente Exec. Em Metrol. e Q.", nome)
    nome = re.sub(r"\bFarmaceutico Bioquimico\b", "Farmacêutico Bioquímico", nome)
    nome = re.sub(r"\bOperador De Est Detratam Agua\b", "Operador De Est. De Tratam. Água", nome)
    nome = re.sub(r"\bTradutor Interprete\b", "Tradutor Intérprete", nome)
    nome = re.sub(r"\bTec Reg Pet E Deriv Alccomb\b", "Técnico Reg. Pet. E Deriv. Alc. Comb.", nome)
    nome = re.sub(r"Fisioterapeuta\b", "Fisioterapeuta", nome)
    nome = re.sub(r"\bOperador De Camera Decinema E\b", "Operador De Câmera De Cinema E", nome)
    nome = re.sub(r"\bAnalista Em Tecnologiada Info\b", "Analista Em Tecnologia Da Info", nome)
    nome = re.sub(r"\bAgente De Policia Federal2A C\b", "Agente De Polícia Federal 2A Classe", nome)
    nome = re.sub(r"\bTecnicoespecializa\b", "Técnico Especializado", nome)
    nome = re.sub(r"\bPesquisador-Tecnologistametr\b", "Pesquisador-Tecnologista Met.", nome)
    nome = re.sub(r"\bGeologo\b", "Geólogo", nome)
    nome = re.sub(r"\bAuxiliar De Creche\b", "Auxiliar De Creche", nome)
    nome = re.sub(r"\bMineracao\b", "Mineração", nome)
    nome = re.sub(r"\bTec Reg De Serv Pub Detelecom\b", "Técnico Reg. De Serv. Púb. De Telecom.", nome)
    nome = re.sub(r"\bAux De Veterinaria Ezootecnia\b", "Auxiliar De Veterinária E Zootecnia", nome)
    nome = re.sub(r"\bInstrumentadorcirurgico\b", "Instrumentador Cirúrgico", nome)
    nome = re.sub(r"\bProgramador De Radio Etelevis\b", "Programador De Rádio E Televisão", nome)
    nome = re.sub(r"\bFonoaudiologo\b", "Fonoaudiólogo", nome)
    nome = re.sub(r"\bTec Equip Medicoodontologico\b", "Técnico Equip. Médico-Odontológico", nome)
    nome = re.sub(r"\bEscrivao De Policiafederal 2A\b", "Escrivão De Polícia Federal 2A", nome)
    nome = re.sub(r"\bTec Em Nutricao Edietetica\b", "Técnico Em Nutrição E Dietética", nome)
    nome = re.sub(r"\bGeografo\b", "Geógrafo", nome)
    nome = re.sub(r"\bRefrigeracao\b", "Refrigeração", nome)
    nome = re.sub(r"\bFisico\b", "Físico", nome)
    nome = re.sub(r"\bNivel Superior", "Nível Superior", nome)
    nome = re.sub(r"\bComunicacaosocial\b", "Comunicação Social", nome)
    nome = re.sub(r"\bAgente De Pol Federalclasse E\b", "Agente De Polícia Federal Classe E", nome)
    nome = re.sub(r"\bPublicitario\b", "Publicitário", nome)
    nome = re.sub(r"\bEducacaofisica\b", "Educação Física", nome)
    nome = re.sub(r"\bAgropecuaria\b", "Auxiliar De Agropecuária", nome)
    nome = re.sub(r"\bProducao\b", "Produção", nome)
    nome = re.sub(r"Escrivao De Pol Federalclasse", "Escrivão De Polícia Federal Classe", nome)
    nome = re.sub(r"\bDesenhista De Artesgraficas\b", "Desenhista De Artes Gráficas", nome)
    nome = re.sub(r"\bEditor De Publicacoes\b", "Editor De Publicações", nome)
    nome = re.sub(r"\bFotografo\b", "Fotógrafo", nome)
    nome = re.sub(r"\bOperador De Radiotelecomunica\b", "Operador De Radiotelecomunicações", nome)
    nome = re.sub(r"\bLaboratorio\b", "Laboratório", nome)
    nome = re.sub(r"\bEconomiadomestica\b", "Economia Doméstica", nome)
    nome = re.sub(r"\bAssistente De Direcao Eproduc\b", "Assistente De Direção E Produção", nome)
    nome = re.sub(r"\bBiomedico\b", "Biomédico", nome)
    nome = re.sub(r"\bDiretor De Artes Cenicas\b", "Diretor De Artes Cênicas", nome)
    nome = re.sub(r"\bCoreografo\b", "Coreógrafo", nome)
    nome = re.sub(r"\bEngenheiro\b", "Engenheiro", nome)
    nome = re.sub(r"\bOtica\b", "Técnico Em Ótica", nome)
    nome = re.sub(r"\bAfinador De Inst Musicais\b", "Afinador De Instrumentos Musicais", nome)
    nome = re.sub(r"\bAgente De Telecomuni Eeletric\b", "Agente De Telecomunicação E Elétrica", nome)
    nome = re.sub(r"\bAnalista Tributario Recfedera\b", "Analista Tributário RecFedera", nome)
    nome = re.sub(r"\bArqueologo\b", "Arqueólogo", nome)
    nome = re.sub(r"\bAssistente Tecnicoadministrat\b", "Assistente Técnico Administrativo", nome)
    nome = re.sub(r"\bHialotecnico\b", "Hialotécnico", nome)
    nome = re.sub(r"\bMatematico\b", "Matemático", nome)
    nome = re.sub(r"\bMedico\b", "Médico", nome)
    nome = re.sub(r"\bMusico-Terapeuta\b", "Músico-Terapeuta", nome)
    nome = re.sub(r"\bTec Em Instrumentacao\b", "Técnico Em Instrumentação", nome)
    nome = re.sub(r"\bPapiloscopista Pol Fedclasse\b", "Papiloscopista Pol Fed Classe", nome)
    nome = re.sub(r"\b24Horas\b", "24 Horas", nome)
    nome = re.sub(r"\bTecnologo Emcooperativismo\b", "Tecnólogo Em Cooperativismo", nome)
    nome = re.sub(r"\bAgente De Policia Federalla C\b", "Agente De Polícia Federal Classe C", nome)
    nome = re.sub(r"\bVigilancia\b", "Vigilância", nome)
    nome = re.sub(r"\bAgente Federal Deexecucao Pen\b", "Agente Federal De Execução Penal", nome)
    nome = re.sub(r"\bAnalista De Infra-Estrutura\b", "Analista De Infraestrutura", nome)
    nome = re.sub(r"\bAntropologo\b", "Antropólogo", nome)
    nome = re.sub(r"\bAssistente Tecnico-Administrat\b", "Assistente Técnico-Administrativo", nome)
    nome = re.sub(r"\bBibliotecario\b", "Bibliotecário", nome)
    nome = re.sub(r"\bCenotecnico\b", "Cenotécnico", nome)
    nome = re.sub(r"\bEspecialista Emmetrologia E Q\b", "Especialista Em Metrologia E Q.", nome)
    nome = re.sub(r"\bMecanico De Montagem Emanuten\b", "Mecânico De Montagem E Manutenção", nome)
    nome = re.sub(r"\bOceanologo\b", "Oceanólogo", nome)
    nome = re.sub(r"\bOperador De Centralhidreletri\b", "Operador De Central Hidrelétrica", nome)
    nome = re.sub(r"\bPapiloscopista Polfederal 2A\b", "Papiloscopista Pol Federal 2A", nome)
    nome = re.sub(r"\bPsicologo\b", "Psicólogo", nome)
    nome = re.sub(r"\bTec Em Informacoeseducacionai\b", "Técnico Em Informações Educacionais", nome)
    nome = re.sub(r"\bTec Em Manutencao Deaudio Vid\b", "Técnico Em Manutenção De Áudio e Vídeo", nome)
    nome = re.sub(r"\bTec Em Propriedadeindustrial\b", "Técnico Em Propriedade Industrial", nome)
    nome = re.sub(r"\bTec Em Reabilit Oufisioterapi\b", "Técnico Em Reabilitação Fisioterapêutica", nome)
    nome = re.sub(r"\bTec Especializado Ii\b", "Técnico Especializado II", nome)
    nome = re.sub(r"\bTec Suporte Infra-Estrutde Tr\b", "Técnico de Suporte Infraestrutura de TI", nome)
    return nome

In [47]:
df['Carreiras'] = df['Carreiras'].apply(transformar)

In [51]:
def trasnforme(nome2): #por algum motivo, não consegui tratar a unica linha abaixo, por isso criei outro
    nome2 = re.sub(r"\bAssist Técnico De Gestaoem Sa\b", 'Assistente Técnico De Gestão Em Saúde', nome2)
    return nome2

In [52]:
df['Carreiras'] =  df['Carreiras'].apply(trasnforme)

In [53]:
df['Carreiras'].unique()

array(['Assistente Em Administração',
       'Professor Ensino Básico Técnico Téc.',
       'Técnico De Laboratório-Área', 'Policial Rodoviário Federal',
       'Auxiliar Em Administração', 'Técnico De Tecnologia Da Informação',
       'Agente De Polícia Federal 3A C',
       'Técnico em Informações Geográficas E Estatíticas',
       'Administrador', 'Técnico Em Assuntos Educacionais',
       'Técnico Do Seguro Social', 'Médico-Área', 'Tecnologista',
       'Técnico Em Contabilidade', 'Engenheiro-Área',
       'Assistente De Aluno', 'Bibliotecário Documentalista',
       'Analista De Tecnologia Da Informação',
       'Auditor Fiscal Federal Agropecuário',
       'Tradutor Intérprete De Língua', 'Contador',
       'Técnico Em Enfermagem', 'Enfermeiro-Área', 'Tecnólogo-Formação',
       'Pedagogo-Área', 'Auxiliar De Enfermagem',
       'Indigenista Especializado', 'Procurador Da Fazenda',
       'Agente Administrativo', 'Psicólogo-Área', 'Advogado Da União',
       'Assistente Social', 'Assistente De Laboratório',
       'Técnico Administrativo', 'Auxiliar De Biblioteca', 'Técnico',
       'Terceiro Secretário', 'Técnico Em Agropecuária',
       'Delegado De Polícia Federal 3A', 'Técnico Em Secretariado',
       'Técnico I', 'Analista Planejamento Gestão Informação G.',
       'Pesquisador Em Propriedade Industrial',
       'Nutricionista Habilitação', 'Auxiliar Institucional I',
       'Técnico Em Audiovisual', 'Analista I', 'Arquivista',
       'Secretário Executivo', 'Técnico Em Eletrotécnica',
       'Analista Do Seguro Social', 'Analista Em Ciência E Tecnologia',
       'Técnico Em Arquivo', 'Jornalista',
       'Técnico Em Segurança Do Trabalho',
       'Escrivão De Polícia Federal 3A',
       'Analista De Planejamento E Orçamento', 'Médico Veterinário',
       'Tecnólogo Em Informação Geográfica Estatística',
       'Técnico Em Mecânica', 'Arquiteto E Urbanista',
       'Contramestre-Ofício', 'Oficial De Chancelaria',
       'Técnico E Regulador De Serviços Detransação Aquaviária',
       'Defensor Publico Da União', 'Analista Administrativo', 'Auditor',
       'Perito Criminal Federal 3A CLA', 'Pesquisador Em Saúde Pública',
       'Analista Técnico Administrativo', 'Odontólogo - 40 Horas',
       'Tecnologista Em Propriedade Industrial',
       'Esp. Em Reg. De Serv. Púb. Tele.', 'Técnico Em Artes Gráficas',
       'Assistente Em Ciência E Tecnologia',
       'Esp. Em Reg. De Serv. De Transp. A', 'Técnico Em Edificações',
       'Engenheiro Engenheiro Agrônomo', 'Técnico Em Saúde Pública',
       'Agente De Insp. Sanit. Ind. Prod', 'Farmacêutico', 'Biólogo',
       'Engenheiro De Seg. Do Trabalho', 'Administrador De Edifícios',
       'Programador Visual', 'Técnico Em Radiologia', 'Relações Públicas',
       'Analista Exec. Em Metrologia E.',
       'Auxiliar Em Assuntos Educacionais',
       'Técnico Em Regulação De Aviação C.',
       'Mestre De Edif. E Infraestrutura', 'Produtor Cultural',
       'Analista Técnico Analista Técnico De Políticas',
       'Técnico Em Alimentos E Latícínios', 'Técnico Em Química',
       'Farmacêutico-Habilitacao', 'Economista', 'Técnico Em Eletrônica',
       'Revisor De Textos Braille', 'Assist. De Tecnologia Da Informação',
       'Químico', 'Agente Em Indigenismo', 'Auxiliar De  Saúde',
       'Técnico Em Eletroeletrônica', 'Operador De Máquinas Agrícolas',
       'Técnico Desportivo', 'Papiloscopista Pol. Federal 3A', 'Músico',
       'Técnico Em Técnico Em Farmácia', 'Revisor De Textos',
       'Assistente Técnico De Gestão Em Saúde',
       'Técnico Em Regul. De Saúde Suplementar',
       'Esp. Em Regulação De Aviação C.', 'Museólogo', 'Estatístico',
       'Técnico Técnico Em Eletromecânica',
       'Técnico Em Anatomia E Necropsia', 'Técnico Em Telecomunicação',
       'Assistente Exec. Em Metrol. e Q.', 'Farmacêutico Bioquimico',
       'Operador De Est. De Tratam. Água', 'Tradutor Intérprete',
       'Técnico Reg. Pet. E Deriv. Alc. Comb.', 'Fisioterapeuta',
       'Operador De Câmera De Cinema E', 'Sonoplasta',
       'Analista Em Tecnologia Da Info',
       'Agente De Polícia Federal 2A Classe',
       'Desenhista Técnico Especializado',
       'Pesquisador-Tecnologista Met.', 'Geólogo', 'Auxiliar De Creche',
       'Técnico Em Mineração', 'Diagramador',
       'Técnico Reg. De Serv. Púb. De Telecom.',
       'Auxiliar De Veterinária E Zootecnia', 'Instrumentador Cirúrgico',
       'Operador De Luz', 'Programador De Rádio E Televisão',
       'Fonoaudiólogo', 'Operador De Caldeira', 'Editor De Imagens',
       'Técnico Equip. Médico-Odontológico', 'Assistente De Chancelaria',
       'Desenhista-Projetista', 'Escrivão De Polícia Federal 2A',
       'Técnico Em Nutrição E Dietética', 'Geógrafo',
       'Técnico Em Refrigeração', 'Terapeuta Ocupacional', 'Físico',
       'Técnico De Nível Superior', 'Técnico Em Comunicação Social',
       'Técnico Em Geologia', 'Agente De Polícia Federal Classe E',
       'Pesquisador', 'Publicitário', 'Técnico Em Educação Física',
       'Auxiliar Em Indigenismo', 'Auxiliar De Agropecuária',
       'Diretor De Produção', 'Escrivão De Polícia Federal Classe',
       'Desenhista De Artes Gráficas', 'Editor De Publicações',
       'Fotógrafo', 'Meteorologista', 'Operador De Radiotelecomunicações',
       'Auxiliar De Laboratório', 'Técnico Em Economia Doméstica',
       'Assistente De Direção E Produção', 'Biomédico',
       'Diretor De Artes Cênicas', 'Diretor De Programa',
       'Enfermeiro Do Trabalho', 'Locutor',
       'Odontologo - 30 Horas - Dl144', 'Regente', 'Taxidermista',
       'Coreógrafo', 'Engenheiro', 'Técnico Em Técnico Em Ótica',
       'Afinador De Instrumentos Musicais',
       'Agente De Telecomunicação E Elétrica',
       'Analista Tributário RecFedera', 'Arqueólogo',
       'Assistente Técnico Administrativo', 'Comandante De Lancha',
       'Hialotécnico', 'Historiador', 'Matemático', 'Médico',
       'Músico-Terapeuta', 'Redator', 'Técnico Em Instrumentação',
       'Papiloscopista Pol Fed Classe', 'Técnico Em Radiologia 24 Horas',
       'Tecnólogo Em Cooperativismo',
       'Agente De Polícia Federal Classe C', 'Agente De Vigilância',
       'Agente Federal De Execução Penal', 'Analista De Infraestrutura',
       'Antropólogo', 'Assistente De Som',
       'Assistente Técnico-Administrat', 'Bibliotecário', 'Cenotécnico',
       'Copeiro', 'Diretor De Fotografia', 'Diretor De Imagem',
       'Diretor De Som', 'Eletricista', 'Especialista Em Metrologia E Q.',
       'Guarda Florestal', 'Locutor 25 Horas',
       'Mecânico De Montagem E Manutenção', 'Motorista Oficial',
       'Oceanólogo', 'Operador De Central Hidrelétrica',
       'Papiloscopista Pol Federal 2A', 'Pedreiro', 'Psicólogo',
       'Técnico Em Informações Educacionais',
       'Técnico Em Manutenção De Áudio e Vídeo',
       'Técnico Em Propriedade Industrial',
       'Técnico Em Reabilitação Fisioterapêutica',
       'Técnico Especializado II',
       'Técnico de Suporte Infraestrutura de TI',
       'Técnico De Contabilidade'], dtype=object)

In [55]:
#Padronizando com nomes de colunas existentes no GBQ
df = df.rename(columns={'Carreiras': 'carreiras_area', "Ampla Concorrência": "ampla_concorrencia", "Cotista" : "forma_identificacao", "Total" : "quantidade_pessoas", "% Cotista" : "per_cotistas"})
df

,carreiras_area,ampla_concorrencia,forma_identificacao,quantidade_pessoas,per_cotistas
0,Assistente Em Administração,5019,1271,6290,"0,20"
1,Professor Ensino Básico Técnico Téc.,4357,571,4928,"0,12"
2,Técnico De Laboratório-Área,1411,163,1574,"0,10"
3,Policial Rodoviário Federal,763,176,939,"0,19"
4,Auxiliar Em Administração,707,174,881,"0,20"
...,...,...,...,...,...
223,Técnico Em Propriedade Industrial,1,O,1,"0,00"
224,Técnico Em Reabilitação Fisioterapêutica,1,O,1,"0,00"
225,Técnico Especializado II,1,O,1,"0,00"
226,Técnico de Suporte Infraestrutura de TI,1,O,1,"0,00"
227,Técnico De Contabilidade,1,O,1,"0,00"

In [ ]:
df['per_cotistas'] = df['per_cotistas'].str.replace(',','.').astype(float) #transformando em float

In [60]:
df['per_cotistas'] = df['per_cotistas']/100

In [62]:
df['forma_identificacao'].unique() #tratanto a coluna 'forma_identicacao'

array(['1271', '571', '163', '176', '174', '96', '100', '71', '88', '98',
       '157', '10', '70', '39', '25', '54', '59', '42', '60', '34', '49',
       '55', '48', '26', '28', '58', '45', '9', '21', '22', '20', '16',
       '27', '6', '30', '15', '13', '18', '8', '12', '31', '5', '7', '4',
       '11', '3', '2', '1', 'O', ' O\n0,00', '1\n1,00', 'O\n0,00'],
      dtype=object)

In [69]:
df['forma_identificacao'] = df['forma_identificacao'].replace(['O', ' O\n0,00', 'O\n0,00'], '0')
df['forma_identificacao'] = df['forma_identificacao'].replace('1\n1,00', '1')

In [70]:
df

,carreiras_area,ampla_concorrencia,forma_identificacao,quantidade_pessoas,per_cotistas
0,Assistente Em Administração,5019,1271,6290,0.0020
1,Professor Ensino Básico Técnico Téc.,4357,571,4928,0.0012
2,Técnico De Laboratório-Área,1411,163,1574,0.0010
3,Policial Rodoviário Federal,763,176,939,0.0019
4,Auxiliar Em Administração,707,174,881,0.0020
...,...,...,...,...,...
223,Técnico Em Propriedade Industrial,1,0,1,0.0000
224,Técnico Em Reabilitação Fisioterapêutica,1,0,1,0.0000
225,Técnico Especializado II,1,0,1,0.0000
226,Técnico de Suporte Infraestrutura de TI,1,0,1,0.0000
227,Técnico De Contabilidade,1,0,1,0.0000

In [75]:
df['ampla_concorrencia'].unique() #a letra 'O' também está presente aqui

array(['5019', '4357', '1411', '763', '707', '702', '588', '534', '493',
       '385', '226', '372', '293', '307', '315', '280', '264', '272',
       '236', '258', '203', '197', '213', '198', '159', '167', '165',
       '179', '157', '155', '138', '136', '89', '106', '124', '98', '113',
       '114', '107', '110', '108', '97', '83', '73', '68', '70', '69',
       '45', '65', '66', '64', '63', '51', '62', '53', '56', '54', '50',
       '47', '41', '44', '38', '39', '46', '36', '35', '40', '31', '33',
       '32', '28', '27', '25', '26', '30', '29', '21', '24', '18', '19',
       '22', '20', '14', '15', '17', '16', '11', '12', '13', '9', '8',
       '7', '6', '5', '1', '3', '4', 'O', '2'], dtype=object)

In [76]:
df['ampla_concorrencia'] = df['ampla_concorrencia'].replace('O', '0')

In [77]:
df['ampla_concorrencia'].unique()

array(['5019', '4357', '1411', '763', '707', '702', '588', '534', '493',
       '385', '226', '372', '293', '307', '315', '280', '264', '272',
       '236', '258', '203', '197', '213', '198', '159', '167', '165',
       '179', '157', '155', '138', '136', '89', '106', '124', '98', '113',
       '114', '107', '110', '108', '97', '83', '73', '68', '70', '69',
       '45', '65', '66', '64', '63', '51', '62', '53', '56', '54', '50',
       '47', '41', '44', '38', '39', '46', '36', '35', '40', '31', '33',
       '32', '28', '27', '25', '26', '30', '29', '21', '24', '18', '19',
       '22', '20', '14', '15', '17', '16', '11', '12', '13', '9', '8',
       '7', '6', '5', '1', '3', '4', '0', '2'], dtype=object)

In [78]:
#transformando os valores de ambas colunas em integer
df['ampla_concorrencia'] = df['ampla_concorrencia'].astype(int) 
df['forma_identificacao'] = df['forma_identificacao'].astype(int)

In [79]:
df.dtypes

carreiras_area          object
ampla_concorrencia       int32
forma_identificacao      int32
quantidade_pessoas       int64
per_cotistas           float64
dtype: object

Subindo para o GBQ

In [71]:
client = bigquery.Client()
dataset_ref = client.dataset('acoes_afirmativas')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [72]:
schema = [bigquery.SchemaField('carreiras_area', 'STRING', description= 'Grupo de carreiras da observação'),
          bigquery.SchemaField('ampla_concorrencia', 'INTEGER', description= 'Quantidade de pessoas pertencentes a ampla concorrência'),
          bigquery.SchemaField('forma_identificacao', 'INTEGER', description= 'Autodeclaração de cota ou não'),
          bigquery.SchemaField('quantidade_pessoas', 'INTEGER', description= 'Número total de pessoas observadas'),                    
          bigquery.SchemaField('per_cotistas', 'FLOAT', description= 'Percentual de cotistas observados')]

In [81]:
table_ref = dataset_ref.table('SIAPE_corte_carreiras')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=d7c445c5-8878-4f78-8038-bfc65327396b>