In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import re

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\ENAP - ações afirmativas')

In [27]:
df = pd.read_csv('perc_professor_superior.csv')
df

   universidade quantidade_cotista
0          FUAM              0,00%
1          FUFO              0,00%
2        FUFPEL              0,00%
3       FUFSCAR              0,00%
4          FUMA              0,00%
..          ...                ...
59        UFSC               1,97%
60        UFOPA              2,38%
61         UFMS              3,70%
62        UFGD               4,28%
63       UFESBA              7,74%

[64 rows x 2 columns]

In [28]:
df = df.rename(columns={'quantidade_cotista':'per_cotistas'})

In [30]:
df['per_cotistas'] = df['per_cotistas'].str.strip('%').replace(',', '.')

In [31]:
df

   universidade per_cotistas
0          FUAM         0,00
1          FUFO         0,00
2        FUFPEL         0,00
3       FUFSCAR         0,00
4          FUMA         0,00
..          ...          ...
59        UFSC          1,97
60        UFOPA         2,38
61         UFMS         3,70
62        UFGD          4,28
63       UFESBA         7,74

[64 rows x 2 columns]

In [33]:
df['per_cotistas'] = df['per_cotistas'].str.replace(',','.').astype(float)

In [39]:
df['per_cotistas'] = df['per_cotistas']/100

In [40]:
df

   universidade  per_cotistas
0          FUAM        0.0000
1          FUFO        0.0000
2        FUFPEL        0.0000
3       FUFSCAR        0.0000
4          FUMA        0.0000
..          ...           ...
59        UFSC         0.0197
60        UFOPA        0.0238
61         UFMS        0.0370
62        UFGD         0.0428
63       UFESBA        0.0774

[64 rows x 2 columns]

Subindo para o GBQ

In [42]:
client = bigquery.Client()
dataset_ref = client.dataset('acoes_afirmativas')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [43]:
schema = [bigquery.SchemaField('universidade', 'STRING', description= 'Universidades observadas'),
         bigquery.SchemaField('per_cotistas', 'FLOAT', description= 'Percentual de cotistas observados')]

In [44]:
table_ref = dataset_ref.table('SIAPE_perc_professor_superior')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=183eb528-9c73-4b4e-b65f-72e757f7432a>