In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import re

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\ENAP - ações afirmativas')

In [3]:
df = pd.read_excel('corte_aprovado_ano.xlsx')
df

    ano  perc_cotistas
0  2014         0.1721
1  2015         0.1488
2  2016         0.1408
3  2017         0.1675
4  2018         0.1636
5  2019         0.1600

In [4]:
df = df.rename(columns={'perc_cotistas': "per_cotistas"})

In [5]:
df

    ano  per_cotistas
0  2014        0.1721
1  2015        0.1488
2  2016        0.1408
3  2017        0.1675
4  2018        0.1636
5  2019        0.1600

Subindo para o GBQ

In [6]:
client = bigquery.Client()
dataset_ref = client.dataset('acoes_afirmativas')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [7]:
schema = [bigquery.SchemaField('ano', 'INTEGER', description= 'Ano de referência da observação'),
         bigquery.SchemaField('per_cotistas', 'FLOAT', description= 'Percentual de cotistas observados')]

In [8]:
table_ref = dataset_ref.table('SIAPE_corte_aprovado_ano')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=d733cfde-abf9-4715-965d-a147848f2dd8>