In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\Atlas do Estado')

In [3]:
df= pd.read_csv("SIAPE_mulheres_das.csv", sep=";")
df

      ano cargos  funcionarios  grafico
0    1999  DAS-1         47.83        5
1    1999  DAS-2         40.07        5
2    1999  DAS-3         39.23        5
3    1999  DAS-4         31.84        5
4    1999  DAS-5         18.83        5
..    ...    ...           ...      ...
109  2017  DAS-2         49.36        5
110  2017  DAS-3         46.04        5
111  2017  DAS-4         35.80        5
112  2017  DAS-5         24.07        5
113  2017  DAS-6         16.67        5

[114 rows x 4 columns]

In [4]:
df = df.to_csv("SIAPE_mulheres_das.csv", index=False)