In [37]:
import numpy as np
import pandas as pd
import os
import time
import pandas_gbq
from google.cloud import bigquery

In [3]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [7]:

df_wide = pd.read_csv('SIAPE_vinculos_das_sexo_raca.csv')
df_wide

      ano tipo_das   valor       sexo           raça
0    1999     DAS-1   1909  Masculino         Branco
1    1999     DAS-1    787  Masculino          Negro
2    1999     DAS-1   1778   Feminino         Branco
3    1999     DAS-1    639   Feminino          Negro
4    1999     DAS-1    463   Feminino  Não informado
..    ...       ...    ...        ...            ...
865  2020     DAS-6      3   Feminino          Negro
866  2020     DAS-6      2   Feminino  Não informado
867  2020     DAS-6      5  Masculino  Não informado
868  2020     DAS-6      4   Feminino         Outros
869  2020     DAS-6      1  Masculino         Outros

[870 rows x 5 columns]

In [5]:
df_long = df_wide.melt(id_vars =['ano', 'sexo_raça'], 
        value_vars =['DAS-1', 'DAS-2','DAS-3', 'DAS-4','DAS-5', 'DAS-6'], 
        var_name ='Funcao DAS',
        value_name ='Valor')
df_long

KeyError: "The following 'id_vars' are not present in the DataFrame: ['ano', 'sexo_raça']"

In [22]:
df_long['sexo_raça'].unique()

array(['Homem Branco', 'Homem Negro', 'Mulher Branca', 'Mulher Negra',
       'Não informado feminino', 'Não informado masculino',
       'Outros Feminino', 'Outros Masculino'], dtype=object)

In [3]:
df_long.rename(columns={'sexo_raÃ§a': 'Raça'})

NameError: name 'df_long' is not defined

In [4]:
df_long['Sexo'] = df_long['sexo_raça'].apply(lambda x: 'Feminino' if x in ['Mulher Branca','Mulher Negra','Não informado feminino','Outros Feminino'] else 'Masculino' )

NameError: name 'df_long' is not defined

In [5]:
df_long

NameError: name 'df_long' is not defined

In [26]:
def raca (df):
    if df['sexo_raça'] in ['Homem Branco', 'Mulher Branca']:
        return 'Branco'
    elif df['sexo_raça'] in ['Homem Negro', 'Mulher Negra']:
        return 'Negro'
    elif df['sexo_raça'] in ['Não informado masculino', 'Não informado feminino']:
        return 'Não informado'
    elif df['sexo_raça'] in ['Outros Feminino', 'Outros Masculino']:
        return 'Outros'

In [27]:
df_long ['raça'] = df_long.apply(raca, axis=1)

In [6]:
df_long

NameError: name 'df_long' is not defined

In [29]:
df_long.columns

Index(['ano', 'sexo_raça', 'Funcao DAS', 'Valor', 'Sexo', 'raça'], dtype='object')

In [30]:
df_long.drop(['sexo_raça'], axis = 1, inplace=True)

In [7]:
df_long.to_csv('SIAPE_vinculos_das_sexo_raca')

NameError: name 'df_long' is not defined

In [13]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [15]:
df = pd.read_csv("SIAPE_vinculos_das_sexo_raca.csv", sep= "," )
df

      ano funcao_DAS  Valor       sexo           raça
0    1999      DAS-1   1909  Masculino         Branco
1    1999      DAS-1    787  Masculino          Negro
2    1999      DAS-1   1778   Feminino         Branco
3    1999      DAS-1    639   Feminino          Negro
4    1999      DAS-1    463   Feminino  Não informado
..    ...        ...    ...        ...            ...
865  2020      DAS-6      3   Feminino          Negro
866  2020      DAS-6      2   Feminino  Não informado
867  2020      DAS-6      5  Masculino  Não informado
868  2020      DAS-6      4   Feminino         Outros
869  2020      DAS-6      1  Masculino         Outros

[870 rows x 5 columns]

In [16]:
df.rename(columns={"Funcao DAS": "funcao_DAS", "Valor": "valor", "Sexo" : "sexo"}, inplace= True)
df

      ano funcao_DAS  valor       sexo           raça
0    1999      DAS-1   1909  Masculino         Branco
1    1999      DAS-1    787  Masculino          Negro
2    1999      DAS-1   1778   Feminino         Branco
3    1999      DAS-1    639   Feminino          Negro
4    1999      DAS-1    463   Feminino  Não informado
..    ...        ...    ...        ...            ...
865  2020      DAS-6      3   Feminino          Negro
866  2020      DAS-6      2   Feminino  Não informado
867  2020      DAS-6      5  Masculino  Não informado
868  2020      DAS-6      4   Feminino         Outros
869  2020      DAS-6      1  Masculino         Outros

[870 rows x 5 columns]

In [17]:
df = df.drop('Unnamed: 0', axis=1)
df

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
df = df.to_csv('SIAPE_vinculos_das_sexo_raca.csv', index = False)