In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\Atlas do Estado')

In [4]:
df = pd.read_csv("SIAPE_ativos_social.csv", sep=";")
df

,ano,ministerios,servidores_ativos_ministerios,total_servidores_ativos,perc_servidores
0,1999,"ministerio da ciencia, tecnologia, inovacao e ...",8144,482854,1.69
1,1999,ministerio da cultura,2718,482854,0.56
2,1999,ministerio da educacao,154930,482854,32.09
3,1999,ministerio da previdencia social,1344,482854,0.28
4,1999,ministerio da saude,112256,482854,23.25
...,...,...,...,...,...
134,2018,ministerio da educacao,301391,611916,49.25
135,2018,ministerio da saude,101414,611916,16.57
136,2018,ministerio do desenvolvimento social,34242,611916,5.60
137,2018,ministerio dos direitos humanos,409,611916,0.07
138,2018,ministerio do trabalho e emprego,7217,611916,1.18

In [5]:
df = df.to_csv('SIAPE_ativos_social.csv', index = False)