In [1]:
import pandas as pd
import time
import os
import pandas_gbq
from google.cloud import bigquery
import basedosdados as bd
import numpy as np

In [2]:
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\DADOS\\415 - Repositório de Dados\Dados para subir\\Tabelas finais")

In [14]:
df = pd.read_csv("SIAPE_das_hierarquico.csv")

In [15]:
df['proporcao_vinculos'] = df['funcionarios']/100

In [17]:
df

      ano tipo_DAS  funcionarios  grafico  proporcao_vinculos
0    1997    DAS-1         38.67        3              0.3867
1    1997    DAS-2         33.77        3              0.3377
2    1997    DAS-3         13.98        3              0.1398
3    1997    DAS-4          9.59        3              0.0959
4    1997    DAS-5          3.20        3              0.0320
..    ...      ...           ...      ...                 ...
127  2018    DAS-2         23.90        3              0.2390
128  2018    DAS-3         21.10        3              0.2110
129  2018    DAS-4         21.30        3              0.2130
130  2018    DAS-5          9.30        3              0.0930
131  2018    DAS-6          1.80        3              0.0180

[132 rows x 5 columns]

In [9]:
df.columns

Index(['ano', 'tipo_DAS', 'funcionarios', 'grafico', 'proporcao_vinculos'], dtype='object')

In [18]:
df = df[['ano', 'tipo_DAS', 'proporcao_vinculos']]

In [20]:
df = df.rename(columns={'tipo_DAS':'tipo_das'})

In [12]:
## Subindo para GBQ

client = bigquery.Client()
dataset_ref = client.dataset('cargos_lideranca') # verificar a categoria do dado

In [22]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('tipo_das','STRING',description='Tipo de cargo DAS'),
 bigquery.SchemaField('proporcao_vinculos','FLOAT',description='Proporção de vínculos em relação a todos os DAS')]

In [23]:
table_ref = dataset_ref.table('SIAPE_das_hierarquico') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=b3608dcc-2faf-4f64-b2c5-fbfea7447e58>