In [24]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import pandas_gbq

In [25]:
client = bigquery.Client()

In [36]:
query = "select * from `repositoriodedadosgpsp.cargos_lideranca.MUNIC_perfil_gestor_educacao_consolidado`"

In [37]:
df = pandas_gbq.read_gbq(query, project_id='repositoriodedadosgpsp')

Downloading: 100%|██████████| 287/287 [00:00<00:00, 838.26rows/s]

In [19]:
df.head()

,ano,id_municipio,sigla_uf,tipo_vinculo,quantidade_vinculos,total_municipio
0,2021,1100015,RO,Estatutários,1175,1368
1,2021,1100015,RO,Celetistas,106,1368
2,2021,1100015,RO,Somente comissionados,87,1368
3,2021,1100015,RO,Estagiários,0,1368
4,2021,1100015,RO,Sem vínculo permanente,0,1368

In [28]:
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\Repositório Local\\Tabelas para o usuário baixar")

In [38]:
df.to_csv("MUNIC_perfil_gestor_educacao_consolidado.csv",index=False, encoding="UTF-8")