In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os 
import time
from google.cloud import bigquery
import pandas_gbq
import glob

In [3]:
client = bigquery.Client()

In [6]:
query = """SELECT ANO as ano, MES as mes,TIPO_APOSENTADORIA as tipo_aposentadoria, CASE WHEN ORGSUP_LOTACAO ="Sem informação" Then ORG_LOTACAO
else ORGSUP_LOTACAO end as org_lotacao, 1 as total
 FROM `repositoriodedadosgpsp.portal_transparencia_cgu.2020_mar_siape_aposentados_cadastro` 
union all
SELECT ANO as ano, MES as mes,TIPO_APOSENTADORIA as tipo_aposentadoria, CASE WHEN ORGSUP_LOTACAO ="Sem informação" Then ORG_LOTACAO
else ORGSUP_LOTACAO end as org_lotacao, 1 as total
 FROM `repositoriodedadosgpsp.portal_transparencia_cgu.2021_mar_siape_aposentados_cadastro` 
union all
SELECT ANO as ano, MES as mes,TIPO_APOSENTADORIA as tipo_aposentadoria, CASE WHEN ORGSUP_LOTACAO ="Sem informação" Then ORG_LOTACAO
else ORGSUP_LOTACAO end as org_lotacao, 1 as total
 FROM `repositoriodedadosgpsp.portal_transparencia_cgu.2022_mar_siape_aposentados_cadastro` 
union all
SELECT ANO as ano, MES as mes,TIPO_APOSENTADORIA as tipo_aposentadoria, CASE WHEN ORGSUP_LOTACAO ="Sem informação" Then ORG_LOTACAO
else ORGSUP_LOTACAO end as org_lotacao, 1 as total
 FROM `repositoriodedadosgpsp.portal_transparencia_cgu.2023_mar_siape_aposentados_cadastro` 
"""

In [8]:
df = pandas_gbq.read_gbq(query, project_id='repositoriodedadosgpsp')
df

Downloading: 100%|██████████|

          ano  mes        tipo_aposentadoria             org_lotacao  total
0        2023    3  APOSENTADORIA VOLUNTARIA   Ministério do Turismo      1
1        2023    3  APOSENTADORIA VOLUNTARIA  Ministério da Economia      1
2        2023    3  APOSENTADORIA VOLUNTARIA  Ministério da Economia      1
3        2023    3  APOSENTADORIA VOLUNTARIA  Ministério da Economia      1
4        2023    3  APOSENTADORIA VOLUNTARIA  Ministério da Economia      1
...       ...  ...                       ...                     ...    ...
1695334  2022    3  APOSENTADORIA VOLUNTARIA  Ministério da Economia      1
1695335  2022    3  APOSENTADORIA VOLUNTARIA  Ministério da Economia      1
1695336  2022    3  APOSENTADORIA VOLUNTARIA    Ministério da Defesa      1
1695337  2022    3  APOSENTADORIA VOLUNTARIA    Ministério da Defesa      1
1695338  2022    3  APOSENTADORIA VOLUNTARIA    Ministério da Defesa      1

[1695339 rows x 5 columns]

In [10]:
df.columns

Index(['ano', 'mes', 'tipo_aposentadoria', 'org_lotacao', 'total'], dtype='object')

In [11]:
df['ano'].unique()

<IntegerArray>
[2023, 2021, 2020, 2022]
Length: 4, dtype: Int64

In [12]:
df['org_lotacao'].unique()

array(['Ministério do Turismo', 'Ministério da Economia',
       'Ministério da Saúde', 'Ministério da Defesa',
       'Ministério da Educação', 'Ministério de Minas e Energia',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Infraestrutura',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações',
       'Presidência da República', 'Ministério das Relações Exteriores',
       'Ministério da Agricultura, Pecuária e Abastecimento',
       'Ministério do Desenvolvimento Regional',
       'Ministério do Meio Ambiente',
       'Ministério do Desenvolvimento Social',
       'Controladoria-Geral da União', 'MINISTERIO DAS COMUNICACOES',
       'Defensoria Pública da União',
       'Ministério da Mulher, Família e Direitos Humanos',
       'Caixa de Financiamento Imobiliário da Aeronáutica'], dtype=object)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Id_SERVIDOR_PORTAL                    1000 non-null   Int64
 1   NOME                                  1000 non-null   object
 2   CPF                                   1000 non-null   object
 3   MATRICULA                             1000 non-null   object
 4   COD_TIPO_APOSENTADORIA                1000 non-null   Int64
 5   TIPO_APOSENTADORIA                    1000 non-null   object
 6   DATA_APOSENTADORIA                    1000 non-null   object
 7   DESCRICAO_CARGO                       1000 non-null   object
 8   COD_UORG_LOTACAO                      1000 non-null   Int64
 9   UORG_LOTACAO                          1000 non-null   object
 10  COD_ORG_LOTACAO                       1000 non-null   Int64
 11  ORG_LOTACAO                           1000 non-null   object
 12  COD_ORGSUP_LOTACAO                    1000 non-null   Int64
 13  ORGSUP_LOTACAO                        1000 non-null   object
 14  COD_TIPO_VINCULO                      1000 non-null   Int64
 15  TIPO_VINCULO                          1000 non-null   object
 16  SITUACAO_VINCULO                      1000 non-null   object
 17  REGIME_JURIDICO                       1000 non-null   object
 18  JORNADA_DE_TRABALHO                   1000 non-null   object
 19  DATA_INGRESSO_CARGOFUNCAO             955 non-null    object
 20  DATA_NOMEACAO_CARGOFUNCAO             0 non-null      float64
 21  DATA_INGRESSO_ORGAO                   0 non-null      float64
 22  DOCUMENTO_INGRESSO_SERVICOPUBLICO     1000 non-null   Int64
 23  DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO  0 non-null      float64
 24  DIPLOMA_INGRESSO_CARGOFUNCAO          0 non-null      float64
 25  DIPLOMA_INGRESSO_ORGAO                0 non-null      float64
 26  DIPLOMA_INGRESSO_SERVICOPUBLICO       1000 non-null   object
 27  ANO                                   1000 non-null   Int64
 28  MES                                   1000 non-null   Int64
dtypes: Int64(9), float64(5), object(15)
memory usage: 235.5+ KB

In [ ]:
df.to_csv('', sep='', encoding='latin-1', index=False)

In [ ]:
os.chdir('')

-----------------------------------------------------------

Testes

In [6]:
df = pd.read_csv("ESTADIC_lei_plano_carreira_por_ano.csv", encoding="latin-1", sep=';', decimal=',')
df

,ano,sigla_uf,cod_uf,uf,ano_criacao_lei,periodo_anual,lei_criacao_plano_carreira
0,2021,RJ,33,Rio De Janeiro,1990,Década de 90,1614
1,2021,SP,35,São Paulo,1997,Década de 90,836
2,2021,PE,26,Pernambuco,1998,Década de 90,11559
3,2021,ES,32,Espírito Santo,1998,Década de 90,5580
4,2021,MT,51,Mato Grosso,1998,Década de 90,50
5,2021,MS,50,Mato Grosso Do Sul,2000,Década de 90,87
6,2021,SE,28,Sergipe,2001,Década de 2000,61
7,2021,GO,52,Goiás,2001,Década de 2000,13909
8,2021,BA,29,Bahia,2002,Década de 2000,8261
9,2021,PB,25,Paraíba,2003,Década de 2000,7419
10,2021,MG,31,Minas Gerais,2004,Década de 2000,15293
11,2021,PR,41,Paraná,2004,Década de 2000,103
12,2021,PI,22,Piauí,2006,Década de 2000,71
13,2021,RN,24,Rio Grande Do Norte,2006,Década de 2000,322
14,2021,PA,15,Pará,2010,Década de 2000,7442
15,2021,AM,13,Amazonas,2013,Década de 2010,3951
16,2021,MA,21,Maranhão,2013,Década de 2010,9860
17,2021,DF,53,Distrito Federal,2013,Década de 2010,5105
18,2021,RR,14,Roraima,2014,Década de 2010,892
19,2021,TO,17,Tocantins,2014,Década de 2010,2851
20,2021,CE,23,Ceará,2014,Década de 2010,15575
21,2021,AP,16,Amapá,2015,Década de 2010,949
22,2021,SC,42,Santa Catarina,2015,Década de 2010,668
23,2021,RO,11,Rondônia,2016,Década de 2010,680
24,2021,AC,12,Acre,2017,Década de 2010,330
25,2021,RS,43,Rio Grande Do Sul,2020,Década de 2010,15451
26,2021,AL,27,Alagoas,2021,Década de 2020,8533

Automatizando troca de csv

In [45]:
##os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar")

In [46]:
## baixando os atuais com , e exportando com ";"

In [47]:
## listando todos os itens do diretório
##len(glob.glob('*.csv'))

In [48]:
## Serve apenas na primeira vez . 

##for i in list(range(0,len(glob.glob('*.csv')))):
    
   # df= pd.read_csv(glob.glob('*.csv')[i])
    #df.to_csv(glob.glob('*.csv')[i],index=False, encoding="latin-1", sep=';', decimal=',')