In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os 
import time
from google.cloud import bigquery
import pandas_gbq
import glob

In [2]:
client = bigquery.Client()

In [3]:
query = """SELECT * FROM `repositoriodedadosgpsp.perfil_remuneracao.SIAPE_inicio_pensoes_total`"""

In [4]:
df = pandas_gbq.read_gbq(query, project_id='repositoriodedadosgpsp')
df

Downloading: 100%|██████████|

,ano,mes,data_inicio_pensao,ano_inicio_pensao,decada_inicio_pensao,tipo_pensao,tipo_pensao_agrupado,total
0,2024,4,1921-12-11,1921,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
1,2024,4,1921-03-22,1921,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
2,2024,4,1922-12-18,1922,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
3,2024,4,1923-02-07,1923,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
4,2024,4,1924-05-11,1924,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
...,...,...,...,...,...,...,...,...
561923,2024,4,2024-03-23,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561924,2024,4,2024-03-31,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561925,2024,4,2024-03-31,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561926,2024,4,2024-04-07,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561927,2024,4,2024-04-07,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1

In [8]:
df.columns

Index(['ano', 'mes', 'data_inicio_pensao', 'ano_inicio_pensao',
       'decada_inicio_pensao', 'tipo_pensao', 'tipo_pensao_agrupado', 'total'],
      dtype='object')

In [9]:
df['ano'].unique()

<IntegerArray>
[2024]
Length: 1, dtype: Int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561928 entries, 0 to 561927
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ano                   561928 non-null  Int64
 1   mes                   561928 non-null  Int64
 2   data_inicio_pensao    561928 non-null  datetime64[ns]
 3   ano_inicio_pensao     561928 non-null  Int64
 4   decada_inicio_pensao  561928 non-null  Int64
 5   tipo_pensao           561928 non-null  object
 6   tipo_pensao_agrupado  561928 non-null  object
 7   total                 561928 non-null  Int64
dtypes: Int64(5), datetime64[ns](1), object(2)
memory usage: 37.0+ MB

In [11]:
dir = 'G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS E CONHECIMENTO\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar'

In [12]:
df

,ano,mes,data_inicio_pensao,ano_inicio_pensao,decada_inicio_pensao,tipo_pensao,tipo_pensao_agrupado,total
0,2024,4,1921-12-11,1921,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
1,2024,4,1921-03-22,1921,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
2,2024,4,1922-12-18,1922,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
3,2024,4,1923-02-07,1923,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
4,2024,4,1924-05-11,1924,1920,Filho (a) / Menor sob guarda / Enteado (a),"Filhos, netos, enteados ou menores em tutela",1
...,...,...,...,...,...,...,...,...
561923,2024,4,2024-03-23,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561924,2024,4,2024-03-31,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561925,2024,4,2024-03-31,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561926,2024,4,2024-04-07,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1
561927,2024,4,2024-04-07,2024,2020,(Ex) conjuge / (Ex) companheiro (a) / Viuvo (a),Cônjuge ou ex-cônjuge,1

In [13]:
os.chdir(dir)

In [14]:
df.to_csv('SIAPE_inicio_pensoes_total.csv', sep=';', encoding='latin-1', index=False)

-----------------------------------------------------------

Testes

In [14]:
df = pd.read_csv("SIAPE_ingresso_aposentadoria_media.csv", encoding="latin-1", sep=';', decimal=',')
df

,tipo_aposentadoria,decada_aposentadoria,categoria_ministerios,media_contribuicao,quantidade_vinculos
0,Outros,1980,"Economia, Finanças, Planejamento, Previdência ...",26.0,3
1,Outros,1980,Educação e Ciência e Tecnologia,19.7,6
2,Outros,1980,Saúde,19.2,4
3,Outros,1990,"Cultura, Turismo e Esportes",12.0,1
4,Outros,1990,"Economia, Finanças, Planejamento, Previdência ...",26.6,5
...,...,...,...,...,...
200,Aposentadoria por incapacidade,2020,"Justiça, Segurança e Órgãos de Controle e Defesa",23.0,152
201,Aposentadoria por incapacidade,2020,"Meio ambiente, Agricultura e Agropecuária",27.2,37
202,Aposentadoria por incapacidade,2020,Presidência da República,20.1,51
203,Aposentadoria por incapacidade,2020,Relações Exteriores,29.9,13
204,Aposentadoria por incapacidade,2020,Saúde,22.1,366

Automatizando troca de csv

In [45]:
##os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar")

In [46]:
## baixando os atuais com , e exportando com ";"

In [47]:
## listando todos os itens do diretório
##len(glob.glob('*.csv'))

In [48]:
## Serve apenas na primeira vez . 

##for i in list(range(0,len(glob.glob('*.csv')))):
    
   # df= pd.read_csv(glob.glob('*.csv')[i])
    #df.to_csv(glob.glob('*.csv')[i],index=False, encoding="latin-1", sep=';', decimal=',')