In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os 
import time
from google.cloud import bigquery
import pandas_gbq
import glob

In [2]:
client = bigquery.Client()

In [ ]:
##query que está no tratamento
query_tratamento= """SELECT 
  ano,
  esfera,
  quantidade_vinculos
FROM (
  SELECT 
    ano,
    CASE 
      WHEN natureza_juridica IN ('1015','1040', '1074', '1104','1139', '1163', '1252', '1287', '1317', '1341') THEN 'Federal'
      WHEN natureza_juridica IN ('1023','1058', '1082', '1112', '1147', '1171', '1236','1260',  '1295', '1325') THEN 'Estadual'
      WHEN natureza_juridica IN ('1031','1066', '1120', '1155', '1180', '1244', '1279', '1309', '1333') THEN 'Municipal'
      ELSE 'Outros' 
    END AS esfera,
    CASE 
    WHEN natureza_juridica IN ('1015','1023', '1031','1104','1139','1112', '1147','1236','1120', '1155','1180','1341', '1163','1252','1260','1279','1287','1295','1309','1317','1325','1333','1171','1180', '1244', '1341') THEN 'Executivo'-- aqui será adicionada autarquias e fundações de direito público. 
    WHEN natureza_juridica IN ('1040','1058', '1066') THEN 'Legislativo'
    WHEN natureza_juridica IN ('1074','1082') THEN 'Judiciário'
    ELSE 'Outros' 
  END AS poderes,

    COUNT(*) AS quantidade_vinculos
  FROM `basedosdados.br_me_rais.microdados_vinculos`  
  GROUP BY ano, esfera
) subquery
WHERE esfera != 'Outros' and poderes!= 'Outros'
ORDER BY esfera, ano, poderes




---116-3 - Órgão Público Autônomo Federal - executivo
--125-2 - Fundação Pública de Direito Privado Federal
--126-0 - Fundação Pública de Direito Privado Estadual ou do Distrito Federal
--127-9 - Fundação Pública de Direito Privado Municipal
--128-7 - Fundo Público da Administração Indireta Federal
--129-5 - Fundo Público da Administração Indireta Estadual ou do Distrito Federal
--130-9 - Fundo Público da Administração Indireta Municipal
--131-7 - Fundo Público da Administração Direta Federal
--132-5 - Fundo Público da Administração Direta Estadual ou do Distrito Federal
--133-3 - Fundo Público da Administração Direta Municipal
--117-1 - Órgão Público Autônomo Estadual ou do Distrito Federal - executivo
--118-0 - Órgão Público Autônomo Municipal - executivo
--124-4 - Município
--134-1 - União """

In [ ]:
tratamento = pandas_gbq.read_gbq(query_tratamento, project_id='repositoriodedadosgpsp')
tratamento #ta errado

GenericGBQException: Reason: 400 SELECT list expression references column natureza_juridica which is neither grouped nor aggregated at [15:10]

Location: US
Job ID: 7e0720ce-dc72-4fdf-a17d-890e66d52172

In [23]:
#ajustei. Adicionei poderes no select. Adicionei natureza_juridica no groupby e adicionei poderes orderby 
query_tratamento_ajustado = '''SELECT 
  ano,
  sigla_uf,
  esfera,
  poderes, 
  quantidade_vinculos
FROM (
  SELECT 
    ano,
    sigla_uf,
    CASE 
      WHEN natureza_juridica IN ('1015','1040', '1074', '1104','1139', '1163', '1252', '1287', '1317', '1341') THEN 'Federal'
      WHEN natureza_juridica IN ('1023','1058', '1082', '1112', '1147', '1171', '1236','1260',  '1295', '1325') THEN 'Estadual'
      WHEN natureza_juridica IN ('1031','1066', '1120', '1155', '1180', '1244', '1279', '1309', '1333') THEN 'Municipal'
      ELSE 'Outros' 
    END AS esfera,
    CASE 
      WHEN natureza_juridica IN ('1015','1023', '1031','1104','1139','1112', '1147','1236','1120', '1155','1180','1341', '1163','1252','1260','1279','1287','1295','1309','1317','1325','1333','1171','1180', '1244', '1341') THEN 'Executivo'
      WHEN natureza_juridica IN ('1040','1058', '1066') THEN 'Legislativo'
      WHEN natureza_juridica IN ('1074','1082') THEN 'Judiciário'
      ELSE 'Outros' 
    END AS poderes,
    COUNT(*) AS quantidade_vinculos
  FROM `basedosdados.br_me_rais.microdados_vinculos`  
  GROUP BY ano, sigla_uf, esfera, natureza_juridica
) subquery
WHERE esfera != 'Outros' and poderes != 'Outros'
ORDER BY esfera, ano, sigla_uf, poderes;
'''

In [45]:
df = pandas_gbq.read_gbq(query_tratamento_ajustado, project_id='repositoriodedadosgpsp')
df

Downloading: 100%|██████████|

        ano sigla_uf     esfera      poderes  quantidade_vinculos
0      1995       AC   Estadual    Executivo                 1354
1      1995       AC   Estadual    Executivo                21811
2      1995       AC   Estadual    Executivo                  142
3      1995       AC   Estadual   Judiciário                  663
4      1995       AC   Estadual  Legislativo                  504
...     ...      ...        ...          ...                  ...
11180  2022       TO  Municipal    Executivo                 1385
11181  2022       TO  Municipal    Executivo                12361
11182  2022       TO  Municipal    Executivo                 3960
11183  2022       TO  Municipal    Executivo                   24
11184  2022       TO  Municipal  Legislativo                 1613

[11185 rows x 5 columns]

In [53]:
df95 = df[df['ano']==1995]
df95

       ano sigla_uf     esfera      poderes  quantidade_vinculos
0     1995       AC   Estadual    Executivo                 1354
1     1995       AC   Estadual    Executivo                21811
2     1995       AC   Estadual    Executivo                  142
3     1995       AC   Estadual   Judiciário                  663
4     1995       AC   Estadual  Legislativo                  504
...    ...      ...        ...          ...                  ...
7693  1995       SP  Municipal    Executivo               397802
7694  1995       SP  Municipal  Legislativo                 7667
7695  1995       TO  Municipal    Executivo                 7918
7696  1995       TO  Municipal    Executivo                   19
7697  1995       TO  Municipal  Legislativo                  335

[367 rows x 5 columns]

In [48]:
query_red = '''repositoriodedadosgpsp.perfil_remuneracao.RAIS_evolucao_esfera'''

In [49]:
red = pandas_gbq.read_gbq(query_red, project_id='repositoriodedadosgpsp')
red

Downloading: 100%|██████████|

       ano     esfera sigla_uf  quantidade_vinculos
0     1995   Estadual       PA               110839
1     1995   Estadual       CE                22529
2     1995   Estadual       AC                24474
3     1995   Estadual       SP               824695
4     1995   Estadual       RS               151827
...    ...        ...      ...                  ...
2264  2022  Municipal       RS               368935
2265  2022  Municipal       TO               102223
2266  2022  Municipal       RO                68152
2267  2022  Municipal       PI               131934
2268  2022  Municipal       PR               374567

[2269 rows x 4 columns]

In [51]:
red95 = red[red['ano']==1995]

In [54]:
df95.groupby(['esfera'], as_index=False).agg({'quantidade_vinculos': 'sum'})

      esfera  quantidade_vinculos
0   Estadual              2929817
1    Federal               951937
2  Municipal              2382264

In [52]:
red95.groupby(['esfera'], as_index=False).agg({'quantidade_vinculos': 'sum'})

      esfera  quantidade_vinculos
0   Estadual              2929817
1    Federal               951937
2  Municipal              2382264

In [6]:
df = df.sort_values(ascending=True, by= 'ano')
df

,ano,sexo,poderes,tipo_adm,tipo_adm_detalhado,grau_instrucao,esfera,faixa_etaria,sigla_uf,carga_horaria,tipo_vinculo,quantidade_vinculos
783034,2003,Feminino,Outros,Empresa Pública,Empresa Pública,Até Fundamental,Outros,Entre 30 e 49 anos,PE,40,CLT,32
813489,2003,Feminino,Judiciário,Adm Direta,Adm Direta,Até Fundamental,Federal,Entre 50 e 65 anos,BA,40,Estatutário,17
179134,2003,Masculino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Municipal,Entre 30 e 49 anos,AC,44,Contratado/prazo determinado,2
1526387,2003,Feminino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Municipal,Entre 30 e 49 anos,RS,22,Estatutário não efetivo,86
1177052,2003,Masculino,Outros,Outros,Outros,Até Ensino Superior Completo,Outros,Entre 30 e 49 anos,RJ,18,CLT,2
...,...,...,...,...,...,...,...,...,...,...,...,...
302787,2022,Masculino,Executivo,Indireta,Fundação pública de direito público ou autarquia,Até Fundamental,Municipal,Entre 30 e 49 anos,RJ,32,Estatutário,1
302792,2022,Feminino,Outros,Indireta,Outros,Até Fundamental,Municipal,Acima de 65 anos,CE,44,Estatutário,2
1434715,2022,Masculino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Estadual,Entre 30 e 49 anos,RS,19,Contratado/tempo determinado,39
1434742,2022,Feminino,Executivo,Adm Direta,Adm Direta,Até Ensino Médio,Estadual,Acima de 65 anos,RS,18,Contratado/tempo determinado,1
1399801,2022,Feminino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Federal,Entre 30 e 49 anos,CE,30,Contratado/tempo determinado,1

In [7]:
dir = 'G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS E CONHECIMENTO\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar'

In [10]:
df

,ano,sexo,poderes,tipo_adm,tipo_adm_detalhado,grau_instrucao,esfera,faixa_etaria,sigla_uf,carga_horaria,tipo_vinculo,quantidade_vinculos
783034,2003,Feminino,Outros,Empresa Pública,Empresa Pública,Até Fundamental,Outros,Entre 30 e 49 anos,PE,40,CLT,32
813489,2003,Feminino,Judiciário,Adm Direta,Adm Direta,Até Fundamental,Federal,Entre 50 e 65 anos,BA,40,Estatutário,17
179134,2003,Masculino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Municipal,Entre 30 e 49 anos,AC,44,Contratado/prazo determinado,2
1526387,2003,Feminino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Municipal,Entre 30 e 49 anos,RS,22,Estatutário não efetivo,86
1177052,2003,Masculino,Outros,Outros,Outros,Até Ensino Superior Completo,Outros,Entre 30 e 49 anos,RJ,18,CLT,2
...,...,...,...,...,...,...,...,...,...,...,...,...
302787,2022,Masculino,Executivo,Indireta,Fundação pública de direito público ou autarquia,Até Fundamental,Municipal,Entre 30 e 49 anos,RJ,32,Estatutário,1
302792,2022,Feminino,Outros,Indireta,Outros,Até Fundamental,Municipal,Acima de 65 anos,CE,44,Estatutário,2
1434715,2022,Masculino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Estadual,Entre 30 e 49 anos,RS,19,Contratado/tempo determinado,39
1434742,2022,Feminino,Executivo,Adm Direta,Adm Direta,Até Ensino Médio,Estadual,Acima de 65 anos,RS,18,Contratado/tempo determinado,1
1399801,2022,Feminino,Executivo,Adm Direta,Adm Direta,Até Ensino Superior Completo,Federal,Entre 30 e 49 anos,CE,30,Contratado/tempo determinado,1

In [13]:
df.to_csv('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS E CONHECIMENTO\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar\\RAIS_vinculos_publicos2022.csv',sep=';',encoding='latin-1', index=False)

In [39]:
df = df.sort_values(ascending=True, by= 'ano')
df

,ano,sexo,poderes,grau_instrucao,esfera,sigla_uf,flag_publico_privado,quantidade_vinculos
6256,1994,Feminino,Outros,Até Ensino Superior Completo,Outros,PR,Privado,83174
5485,1994,Feminino,Outros,Ignorado,Outros,SC,Privado,364
704,1994,Masculino,Outros,Até Ensino Superior Completo,Outros,SE,Privado,7532
1232,1994,Feminino,Outros,Até Ensino Superior Completo,Outros,MG,Privado,105611
3002,1994,Feminino,Outros,Até Ensino Médio,Outros,AL,Privado,34670
...,...,...,...,...,...,...,...,...
14806,2021,Masculino,Outros,Até Fundamental,Estadual,PR,Público,746
3927,2021,Feminino,Outros,Até Fundamental,Outros,BA,Privado,65293
14808,2021,Masculino,Outros,Até Fundamental,Outros,PR,Público,1045
3947,2021,Masculino,Outros,Até Mestrado,Outros,BA,Privado,2474
14909,2021,Masculino,Executivo,Até Ensino Superior Completo,Estadual,RS,Público,23823

In [29]:
df.columns

Index(['ano', 'variavel', 'categoria', 'media_remuneracao', 'fator_correcao',
       'media_remuneracao_ajustada'],
      dtype='object')

In [30]:
df['ano'].unique()

<IntegerArray>
[2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Length: 20, dtype: Int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ano                         496 non-null    Int64
 1   variavel                    496 non-null    object
 2   categoria                   496 non-null    object
 3   media_remuneracao           496 non-null    float64
 4   fator_correcao              496 non-null    float64
 5   media_remuneracao_ajustada  496 non-null    float64
dtypes: Int64(1), float64(3), object(2)
memory usage: 23.9+ KB

In [32]:
dir = 'G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS E CONHECIMENTO\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar'

In [33]:
df

,ano,variavel,categoria,media_remuneracao,fator_correcao,media_remuneracao_ajustada
0,2003,genero,Masculino,1590.814451,3.038449,4833.609149
1,2003,genero,Feminino,1066.453234,3.038449,3240.364146
2,2004,genero,Feminino,1181.802084,2.823838,3337.217273
3,2004,genero,Masculino,1771.140450,2.823838,5001.413167
4,2005,genero,Feminino,1282.466421,2.671812,3426.508679
...,...,...,...,...,...,...
491,2022,grau_instrucao,Até Ensino Médio,3505.378382,1.046200,3667.326863
492,2022,grau_instrucao,Ignorado,0.000000,1.046200,0.000000
493,2022,grau_instrucao,Até Fundamental,2582.674100,1.046200,2701.993643
494,2022,grau_instrucao,Até Doutorado,12640.010085,1.046200,13223.978551
495,2022,grau_instrucao,Até Mestrado,9988.443278,1.046200,10449.909357

In [34]:
os.chdir(dir)

In [20]:
dir = 'G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS E CONHECIMENTO\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar'
df.to_csv('RAIS_evolucao_esfera.csv', sep=';', encoding='latin-1', index=False)

-----------------------------------------------------------

Testes

In [14]:
df = pd.read_csv("SIAPE_ingresso_aposentadoria_media.csv", encoding="latin-1", sep=';', decimal=',')
df

,tipo_aposentadoria,decada_aposentadoria,categoria_ministerios,media_contribuicao,quantidade_vinculos
0,Outros,1980,"Economia, Finanças, Planejamento, Previdência ...",26.0,3
1,Outros,1980,Educação e Ciência e Tecnologia,19.7,6
2,Outros,1980,Saúde,19.2,4
3,Outros,1990,"Cultura, Turismo e Esportes",12.0,1
4,Outros,1990,"Economia, Finanças, Planejamento, Previdência ...",26.6,5
...,...,...,...,...,...
200,Aposentadoria por incapacidade,2020,"Justiça, Segurança e Órgãos de Controle e Defesa",23.0,152
201,Aposentadoria por incapacidade,2020,"Meio ambiente, Agricultura e Agropecuária",27.2,37
202,Aposentadoria por incapacidade,2020,Presidência da República,20.1,51
203,Aposentadoria por incapacidade,2020,Relações Exteriores,29.9,13
204,Aposentadoria por incapacidade,2020,Saúde,22.1,366

Automatizando troca de csv

In [45]:
##os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Repositório Local\\Tabelas para o usuário baixar")

In [46]:
## baixando os atuais com , e exportando com ";"

In [47]:
## listando todos os itens do diretório
##len(glob.glob('*.csv'))

In [48]:
## Serve apenas na primeira vez . 

##for i in list(range(0,len(glob.glob('*.csv')))):
    
   # df= pd.read_csv(glob.glob('*.csv')[i])
    #df.to_csv(glob.glob('*.csv')[i],index=False, encoding="latin-1", sep=';', decimal=',')