In [36]:
import pandas as pd
import numpy as np
import os
import pandas_gbq
from google.cloud import bigquery
import glob
import openpyxl

In [37]:
os.chdir('G:\\\\Drives compartilhados\\\\República.org\\\\4. Equipes\\\\Dados e Comunicação\\\\DADOS\\\\415 - Repositório de Dados\\\\Repositório Local')

Chamando as bases

In [50]:
df = pd.read_excel('ESTADIC//Base_ESTADIC_2021.xlsx', sheet_name='Educação', usecols=['Cod UF','EEDU161A','EEDU161B'])
df

    Cod UF  EEDU161A  EEDU161B
0       11       680      2016
1       12       330      2017
2       13      3951      2013
3       14       892      2014
4       15      7442      2010
5       16       949      2015
6       17      2851      2014
7       21      9860      2013
8       22        71      2006
9       23     15575      2014
10      24       322      2006
11      25      7419      2003
12      26     11559      1998
13      27      8533      2021
14      28        61      2001
15      29      8261      2002
16      31     15293      2004
17      32      5580      1998
18      33      1614      1990
19      35       836      1997
20      41       103      2004
21      42       668      2015
22      43     15451      2020
23      50        87      2000
24      51        50      1998
25      52     13909      2001
26      53      5105      2013

In [51]:
uf = pd.read_excel('ESTADIC//Base_ESTADIC_2018.xlsx', sheet_name = 'Variáveis externas', usecols=[1,2,3])
uf

    COD UF  UF              NOME UF
0       11  RO             RONDÔNIA
1       12  AC                 ACRE
2       13  AM             AMAZONAS
3       14  RR              RORAIMA
4       15  PA                 PARÁ
5       16  AP                AMAPÁ
6       17  TO            TOCANTINS
7       21  MA             MARANHÃO
8       22  PI                PIAUÍ
9       23  CE                CEARÁ
10      24  RN  RIO GRANDE DO NORTE
11      25  PB              PARAÍBA
12      26  PE           PERNAMBUCO
13      27  AL              ALAGOAS
14      28  SE              SERGIPE
15      29  BA                BAHIA
16      31  MG         MINAS GERAIS
17      32  ES       ESPÍRITO SANTO
18      33  RJ       RIO DE JANEIRO
19      35  SP            SÃO PAULO
20      41  PR               PARANÁ
21      42  SC       SANTA CATARINA
22      43  RS    RIO GRANDE DO SUL
23      50  MS   MATO GROSSO DO SUL
24      51  MT          MATO GROSSO
25      52  GO                GOIÁS
26      53  DF     DISTRITO FEDERAL

Renomeando as colunas

In [52]:
df.columns

Index(['Cod UF', 'EEDU161A', 'EEDU161B'], dtype='object')

In [53]:
df= df.rename(columns={'Cod UF':'cod_uf',
                        'EEDU161A':'lei_criacao_plano_carreira',
                        'EEDU161B':'ano_criacao_lei'})

In [54]:
##adicionando a coluna de 'ano' em cada um dos dfs
df['ano']=2021

In [55]:
x= uf.pivot_table(columns=('COD UF', 'UF', 'NOME UF'), aggfunc='size')

In [56]:
uf = pd.DataFrame(x).reset_index()[['COD UF', 'UF', 'NOME UF']]

In [57]:
df = df.merge(uf, right_on='COD UF',left_on='cod_uf') #adicionando sigla e nome das UFs

In [58]:
df = df.drop(['COD UF'], axis=1) #eliminando coluna repetida

In [59]:
df= df.rename(columns={'UF':'sigla_uf',
                'NOME UF':'uf'})

In [62]:
df

,cod_uf,lei_criacao_plano_carreira,ano_criacao_lei,ano,sigla_uf,uf
0,11,680,2016,2021,RO,Rondônia
1,12,330,2017,2021,AC,Acre
2,13,3951,2013,2021,AM,Amazonas
3,14,892,2014,2021,RR,Roraima
4,15,7442,2010,2021,PA,Pará
5,16,949,2015,2021,AP,Amapá
6,17,2851,2014,2021,TO,Tocantins
7,21,9860,2013,2021,MA,Maranhão
8,22,71,2006,2021,PI,Piauí
9,23,15575,2014,2021,CE,Ceará
10,24,322,2006,2021,RN,Rio Grande Do Norte
11,25,7419,2003,2021,PB,Paraíba
12,26,11559,1998,2021,PE,Pernambuco
13,27,8533,2021,2021,AL,Alagoas
14,28,61,2001,2021,SE,Sergipe
15,29,8261,2002,2021,BA,Bahia
16,31,15293,2004,2021,MG,Minas Gerais
17,32,5580,1998,2021,ES,Espírito Santo
18,33,1614,1990,2021,RJ,Rio De Janeiro
19,35,836,1997,2021,SP,São Paulo
20,41,103,2004,2021,PR,Paraná
21,42,668,2015,2021,SC,Santa Catarina
22,43,15451,2020,2021,RS,Rio Grande Do Sul
23,50,87,2000,2021,MS,Mato Grosso Do Sul
24,51,50,1998,2021,MT,Mato Grosso
25,52,13909,2001,2021,GO,Goiás
26,53,5105,2013,2021,DF,Distrito Federal

In [61]:
df['uf'] = df['uf'].str.title()

In [63]:
df = df[['ano','cod_uf','sigla_uf','uf','ano_criacao_lei','lei_criacao_plano_carreira']] #organizando as colunas

In [64]:
df.columns

Index(['ano', 'cod_uf', 'sigla_uf', 'uf', 'ano_criacao_lei',
       'lei_criacao_plano_carreira'],
      dtype='object')

In [65]:
df['ano_criacao_lei'].unique()

array([2016, 2017, 2013, 2014, 2010, 2015, 2006, 2003, 1998, 2021, 2001,
       2002, 2004, 1990, 1997, 2020, 2000], dtype=int64)

In [67]:
limites = [0,2000, 2010, 2020, 9999] #criando uma nova coluna (periodo_anual) com base na coluna 'ano_criacao_lei'
categorias = ['Década de 90', 'Década de 2000', "Década de 2010", "Década de 2020" ]

df['periodo_anual'] = pd.cut(df['ano_criacao_lei'], bins=limites, labels=categorias)

C:\Users\ana.sales_republica\AppData\Local\Temp\ipykernel_11808\4053191972.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['periodo_anual'] = pd.cut(df['ano_criacao_lei'], bins=limites, labels=categorias)

In [68]:
df

,ano,cod_uf,sigla_uf,uf,ano_criacao_lei,lei_criacao_plano_carreira,periodo_anual
0,2021,11,RO,Rondônia,2016,680,Década de 2010
1,2021,12,AC,Acre,2017,330,Década de 2010
2,2021,13,AM,Amazonas,2013,3951,Década de 2010
3,2021,14,RR,Roraima,2014,892,Década de 2010
4,2021,15,PA,Pará,2010,7442,Década de 2000
5,2021,16,AP,Amapá,2015,949,Década de 2010
6,2021,17,TO,Tocantins,2014,2851,Década de 2010
7,2021,21,MA,Maranhão,2013,9860,Década de 2010
8,2021,22,PI,Piauí,2006,71,Década de 2000
9,2021,23,CE,Ceará,2014,15575,Década de 2010
10,2021,24,RN,Rio Grande Do Norte,2006,322,Década de 2000
11,2021,25,PB,Paraíba,2003,7419,Década de 2000
12,2021,26,PE,Pernambuco,1998,11559,Década de 90
13,2021,27,AL,Alagoas,2021,8533,Década de 2020
14,2021,28,SE,Sergipe,2001,61,Década de 2000
15,2021,29,BA,Bahia,2002,8261,Década de 2000
16,2021,31,MG,Minas Gerais,2004,15293,Década de 2000
17,2021,32,ES,Espírito Santo,1998,5580,Década de 90
18,2021,33,RJ,Rio De Janeiro,1990,1614,Década de 90
19,2021,35,SP,São Paulo,1997,836,Década de 90
20,2021,41,PR,Paraná,2004,103,Década de 2000
21,2021,42,SC,Santa Catarina,2015,668,Década de 2010
22,2021,43,RS,Rio Grande Do Sul,2020,15451,Década de 2010
23,2021,50,MS,Mato Grosso Do Sul,2000,87,Década de 90
24,2021,51,MT,Mato Grosso,1998,50,Década de 90
25,2021,52,GO,Goiás,2001,13909,Década de 2000
26,2021,53,DF,Distrito Federal,2013,5105,Década de 2010

In [69]:
df['periodo_anual'].unique()

['Década de 2010', 'Década de 2000', 'Década de 90', 'Década de 2020']
Categories (4, object): ['Década de 90' < 'Década de 2000' < 'Década de 2010' < 'Década de 2020']

In [30]:
df= df[['ano', 'sigla_uf','cod_uf', 'uf', 'ano_criacao_lei','periodo_anual', 'lei_criacao_plano_carreira']]

Subindo para o GBQ

In [70]:
client = bigquery.Client()
dataset_ref = client.dataset('estrutura_organizacional_carreiras')

In [71]:
df.dtypes

ano                              int64
cod_uf                           int64
sigla_uf                        object
uf                              object
ano_criacao_lei                  int64
lei_criacao_plano_carreira       int64
periodo_anual                 category
dtype: object

In [72]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano da apuração daquele dado'),
        bigquery.SchemaField('cod_uf','INTEGER',description='Código do IBGE da UF'),
        bigquery.SchemaField('sigla_uf','STRING',description='Sigla da UF'),
        bigquery.SchemaField('uf','STRING',description='Nome da UF'),        
        bigquery.SchemaField('ano_criacao_lei','INTEGER',description='Se a nomeação de diretor de escola ocorreu por concurso público '),
        bigquery.SchemaField('periodo_anual','STRING',description='Período anual referente a observação'),
        bigquery.SchemaField('lei_criacao_plano_carreira','INTEGER',description='Se a nomeação de diretor de escola ocorreu por indicação')
        ]

In [73]:
table_ref = dataset_ref.table('ESTADIC_lei_plano_carreira_por_ano')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df,table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=8164c25d-7324-4efe-bc14-cedf39f044f5>