In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [3]:
df = pd.read_csv('SIAPE_proporcao_carreira_grupos.csv')
df

     ano         carreiras  percentual
0   2004            social       0.375
1   2005            social       0.367
2   2006            social       0.383
3   2007            social       0.380
4   2008            social       0.385
..   ...               ...         ...
93  2013  nao_classificado       0.076
94  2014  nao_classificado       0.075
95  2015  nao_classificado       0.073
96  2016  nao_classificado       0.066
97  2017  nao_classificado       0.068

[98 rows x 3 columns]

In [4]:
df = df.rename(columns={'carreiras':'carreiras_area', 'percentual':'per_agrupamento'}) #Padronizando

In [5]:
df

     ano    carreiras_area  per_agrupamento
0   2004            social            0.375
1   2005            social            0.367
2   2006            social            0.383
3   2007            social            0.380
4   2008            social            0.385
..   ...               ...              ...
93  2013  nao_classificado            0.076
94  2014  nao_classificado            0.075
95  2015  nao_classificado            0.073
96  2016  nao_classificado            0.066
97  2017  nao_classificado            0.068

[98 rows x 3 columns]

Subindo pro BQ

In [6]:
client = bigquery.Client()
dataset_ref = client.dataset('estrutura_organizacional_carreiras')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [7]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referência da observação'),
        bigquery.SchemaField('carreiras_area','STRING',description='Grupo de carreiras da observação'),
        bigquery.SchemaField('per_agrupamento','FLOAT',description='Proporção dos agrupamentos de carreira')]

In [8]:
table_ref = dataset_ref.table('SIAPE_proporcao_carreira_grupos') 
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=04eb6c5b-1e4f-44e9-a804-5eeb12faf5cb>