In [1]:
import pandas as pd
import time
import os
import pandas_gbq
from google.cloud import bigquery
import basedosdados as bd
import numpy as np

In [3]:
os.chdir("G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\DADOS\\415 - Repositório de Dados\Dados para subir\\Dados Brutos\\Atlas do Estado")

In [22]:
df = pd.read_csv("SIAPE_nomeados_das_serviço_publico.csv", sep=';')
df

      ano cargos  funcionarios  grafico
0    1999  DAS-1         73.10        4
1    1999  DAS-2         71.22        4
2    1999  DAS-3         72.13        4
3    1999  DAS-4         58.67        4
4    1999  DAS-5         56.44        4
..    ...    ...           ...      ...
109  2017  DAS-2         72.98        4
110  2017  DAS-3         62.21        4
111  2017  DAS-4         61.43        4
112  2017  DAS-5         67.47        4
113  2017  DAS-6         56.31        4

[114 rows x 4 columns]

In [23]:
df = df.drop(['grafico'], axis=1)

In [24]:
df = df.rename(columns={'cargos':'tipo_das', 'funcionarios': 'per_valor'})

In [26]:
df['per_valor'] = df['per_valor']/100

In [27]:
df

      ano tipo_das  per_valor
0    1999    DAS-1     0.7310
1    1999    DAS-2     0.7122
2    1999    DAS-3     0.7213
3    1999    DAS-4     0.5867
4    1999    DAS-5     0.5644
..    ...      ...        ...
109  2017    DAS-2     0.7298
110  2017    DAS-3     0.6221
111  2017    DAS-4     0.6143
112  2017    DAS-5     0.6747
113  2017    DAS-6     0.5631

[114 rows x 3 columns]

In [29]:
df.dtypes

ano            int64
tipo_das      object
per_valor    float64
dtype: object

Subindo para o GBQ

In [28]:
client = bigquery.Client()
dataset_ref = client.dataset('cargos_lideranca')

In [32]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('tipo_das','STRING',description='Nível de cargo de Direção e Assessoramento Superior (DAS)'),
 bigquery.SchemaField('per_valor','FLOAT',description='Percentual referente ao numero de servidores ')]

In [33]:
table_ref = dataset_ref.table('SIAPE_nomeados_das_serviço_publico') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=95b6ec69-1f9b-497d-b104-6165c518a20a>